simul.json
[{"id":"aeabb2b7.2a8de","type":"tab","label":"Server","disabled":false,"info":""},{"id":"e7a15a84.adc1a","type":"tab","label":"Client","disabled":false,"info":""},{"id":"b54f2b0d.1c593","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"11b26400.5aed44","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"d6aa9c96.9a0378","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"c565f367.69d3","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"9d65e251.7c8fd8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"a1e74bfa.5160e8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"1b98b9a2.aa778e","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"c6a22dc6.a64288","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"7a2ff7cd.ed1418","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"b552e0dc.30a498","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"8afdd1c4.f6eba","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"660d8ca6.0249e4","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"37b90396.9096b4","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"fce2cff5.9d656","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"1d84c74.db125b9","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"8c4613e.a93e9f","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"304c2636.c35d2a","type":"split","z":"aeabb2b7.2a8de","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":60,"wires":[["1b504580.0b0633"]]},{"id":"1b504580.0b0633","type":"function","z":"aeabb2b7.2a8de","name":"ToServer","func":"var obj = msg.payload;\nvar nsParent = obj.nsParent || \"1\";\nvar ns = obj.ns || \"1\";\nvar Parent =\"\";\nvar Name = \"\";    \n//setFolder\nvar msg1 = {};\nvar p=\"\";\nlet variants = 45; \nglobal.set (\"cfg.variants\", variants);\nfor (var i = 1; i < variants; i++) {//45\n    p = \"P\" + i;\n    Parent = p + \"_\" + obj.Parent;\n    Name = p + \"_\" + obj.Name; \n\n    msg1.payload = {\"opcuaCommand\":\"setFolder\"};\n    if (nsParent==\"0\") {\n        msg1.topic = \"ns=\" + nsParent + \";\" + obj.Parent} \n    else { \n        msg1.topic = \"ns=\" + nsParent + \";s=\" + Parent} \n    node.send (msg1);\n\n    //add folder\n    if (obj.Type == \"Folder\") {\n        msg1.payload={\"opcuaCommand\":\"addFolder\"};\n        msg1.topic = \"ns=\" + ns + \";s=\" + Name} \n    else { //add var \n            msg1.payload={\"opcuaCommand\":\"addVariable\"};\n            msg1.topic = \"ns=1;s=\" + Name + \";datatype=\" + obj.Type;\n    }\n    node.send (msg1);\n    global.set(Name, {\"ns\":msg1.topic, \"parent\":Parent, \"val\":0, \"name\": Name});\n}\n\n//return [msg];","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["82fbf597.c5639"]]},{"id":"82fbf597.c5639","type":"OpcUa-Server","z":"aeabb2b7.2a8de","port":"53880","name":"","endpoint":"","x":560,"y":60,"wires":[["99190de.d19ea7","1443d02a.10248"]]},{"id":"b427f854.234ff8","type":"debug","z":"aeabb2b7.2a8de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":180,"wires":[]},{"id":"99190de.d19ea7","type":"debug","z":"aeabb2b7.2a8de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":60,"wires":[]},{"id":"1d2bb33f.4d224d","type":"function","z":"aeabb2b7.2a8de","name":"PK","func":"//два варіанта виклику - періодичний і за подією\n//при події передається назва еквіпмента P10_A1.PK105\n//пероідичний передає суфікс типу _A1.PK105 \nlet now = new Date();\nlet sufics = msg.topic; \nlet eq_name = \"\";\nif (sufics[0] === \"_\"){\n    let variants = global.get (\"cfg.variants\");\n    for (let i = 1; i < variants; i++) {\n        eq_name = \"P\" + i + sufics; \n        eqsim (eq_name);\n    }\n} \nelse {\n   eq_name = sufics; \n   eqsim (eq_name);\n} \n\nfunction toOPC (var1)\n{\n    msg.payload = {\n    \"messageType\": \"Variable\",\n    \"variableName\": var1.name,\n    \"variableValue\": var1.val\n    };\n    node.send (msg);\n}\n\nfunction eqsim (eq_name){\n    let eq = global.get (eq_name);//equipment\n    eq.T_PREV = eq.T_PREV || new Date(new Date(now.getTime()-10000));\n    let dt = (now - eq.T_PREV)/1000 ;//періодичність виклику\n    eq.T_STEP = (eq.T_STEP + dt) || 0.0; //час кроку\n\n    //визначення продуктивності\n    eq.PlanD.val = (typeof (eq.PlanD.val) === \"string\") ? eq.PlanD.val : \"00:01:00\";\n    let hms = eq.PlanD.val.split(\":\") || [0][1][0];\n    let period = parseInt(hms[0])*60*60 + parseInt(hms[1])*60 + parseInt(hms[2]);\n    let quant = eq.PlanQ.val || 50.0;// 50p/min by default\n    let prod = 0;\n    if (period > 0) prod=quant/period; //\n    \n    //визначення приросту\n    let dq_plan=prod*dt;//плановий приріст \n    let dq_var=dq_plan*0.1*Math.random();//варіація до 10%\n    let dq = dq_plan - dq_var;\n    let dq_lost=0;\n    let r = Math.random();\n    if (r>0.7){\n        dq_lost=1; \n    }//втрати\n    dq = dq - dq_lost;\n    if (dq<1) dq=1; \n\n    //-------------------------керування State Control\n    switch (eq.STA.val) {\n        case 0://init\n            eq.STA.val=1;\n            break;\n        case 1://idle\n            if (eq.CMD.val==1){\n               eq.STA.val=2; eq.T_STEP=0;\n               eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n            }\n            break;\n        case 2://running\n            if (eq.CMD.val==2){\n               eq.STA.val=1; eq.T_STEP=0;\n               eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n            }\n            if (eq.CMD.val==3){\n               eq.STA.val=4; eq.T_STEP=0;\n            }        \n            break;\n        case 4://paused\n            if (eq.CMD.val==2){\n               eq.STA.val=1; eq.T_STEP=0;\n            }\n            if (eq.CMD.val==1){\n               eq.STA.val=2; eq.T_STEP=0;\n            }  \n            break;\n        default:\n            eq.STA.val=0;\n    } \n    toOPC (eq.STA);\n        \n    //------------імітація Simulation -----------\n    if (eq.smOn.val===true) {\n        switch (eq.STA.val) {\n        case 0://init\n            eq.STA.val=1;\n            break;\n        case 1://idle\n            if (eq.CMD.val==1){\n                eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n            }\n            break;\n        case 13://starting\n      \n            break;        \n        case 2://running\n            eq.FIQ1.val += parseInt(dq);\n            eq.FIQ2.val += parseInt(dq_lost);\n            if (eq.CMD.val==2){\n                eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n            }\n            break;\n       //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        }\n        if (eq.FIQ1.val<0) eq.FIQ1.val=0;\n        if (eq.FIQ2.val<0) eq.FIQ2.val=0;\n        toOPC (eq.FIQ1);\n        toOPC (eq.FIQ2);\n    }\n    \n    //------------\n    \n    eq.CMD.val=0;\n    eq.T_PREV = now;\n    global.set (eq_name, eq);     \n    //---------------------------------\n\n}\n\n\n/*\n0 – ініціалізація (тільки при старті ПЛК)\n1 – Idle (простоювання)\n13 – Starting (запускається)\n2 - Running (виконується) \n14- Completing (завершується)\n3 – Pausing (призупиняється)\n4 – Paused (призупинено)\n5 – Holding (утримується)\n6 – Hold (утримуване)\n7 – Restarting (перезапускається)\n8 – Complete (завершено)\n9 – Stopping (зупиняється)\n10 – Stopped (зупинено)\n11 – Aborting (переривається)\n12 – Aborted (перервано)\n15 – Resuming (відновлюється)\n*/","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["b427f854.234ff8","82fbf597.c5639"]]},{"id":"a165e200.4c47a8","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.PK105","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["1d2bb33f.4d224d"]]},{"id":"274281ad.7f79be","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.PK106","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["52aead6b.62b33c"]]},{"id":"84f30d63.69d5b8","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.PK107","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["6433ee64.fb3a78"]]},{"id":"83b5bfa3.c947","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.PK108","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["5a15d509.64b4bc"]]},{"id":"52aead6b.62b33c","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":220,"wires":[["1d2bb33f.4d224d"]]},{"id":"6433ee64.fb3a78","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[["1d2bb33f.4d224d"]]},{"id":"5a15d509.64b4bc","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":300,"wires":[["1d2bb33f.4d224d"]]},{"id":"d24328cb.fd393","type":"function","z":"aeabb2b7.2a8de","name":"PAST","func":"//два варіанта виклику - періодичний і за подією\n//при події передається назва еквіпмента P10_A1.T10\n//пероідичний передає суфікс типу _A1.T10 \nlet sufics = msg.topic; \nlet eq_name = \"\";\nlet now = new Date();\nif (sufics[0] === \"_\"){\n    let variants = global.get (\"cfg.variants\");\n    for (let i = 1; i < variants; i++) {\n        eq_name = \"P\" + i + sufics; \n        eqsim (eq_name);\n    }\n} \nelse {\n   eq_name = sufics; \n   eqsim (eq_name);\n} \n\nfunction eqsim (eq_name){\n    let eq = global.get (eq_name);//equipment\n    eq.T_PREV = eq.T_PREV || new Date(new Date(now.getTime()-10000));\n    let dt = (now - eq.T_PREV)/1000 ;//періодичність виклику\n    eq.T_STEP = (eq.T_STEP + dt) || 0.0; //час кроку\n    \n    //визначення продуктивності\n    //eq.PlanD = eq.PlanD || {val : \"10:0\"};\n    eq.PlanD.val = (typeof (eq.PlanD.val) === \"string\") ? eq.PlanD.val : \"00:01:00\";\n    let hms = eq.PlanD.val.split(\":\");//період роботи в текстовому вигляді \n    let period = parseInt(hms[0],10)*60*60 + parseInt(hms[1],10)*60 + parseInt(hms[2],10);\n    let quant = eq.PlanQ.val || 50.0;//продуктивність за період роботи by default\n    let prod = 0;\n    if (period > 0) prod=quant/period; \n    \n    //визначення приросту\n    let dq_plan=prod*dt;//плановий приріст \n    let dq_var=dq_plan*0.1*Math.random();//варіація до 10%\n    let dq = dq_plan - dq_var;\n    \n    //node.warn (\"dq=\" + dq + \" dq_plan=\" + dq_plan + \" dq_var=\" + dq_var);\n    \n    //------------імітація -----------\n    if (eq.smOn.val===true) {\n        let secs = now/100000;\n        let sin1 = Math.sin(secs);\n        //node.warn (sin1);\n        eq.TT101.val = sin1*5 + 30.0; \n        switch (eq.STA.val) {\n        case 0://init\n            eq.STA.val=1;\n            break;\n        case 1://idle\n            if (eq.CMD.val==1){\n                eq.FIQ1.val = 0; \n            }\n            break;\n        case 13://starting\n      \n            break;        \n        case 2://running\n            eq.FIQ1.val +=dq;\n            break;\n        }\n        toOPC (eq.TT101);\n        toOPC (eq.FIQ1);\n    }\n    //------------\n    \n    //-------------------------керування\n    switch (eq.STA.val) {\n        case 0://init\n            //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n            eq.STA.val=1;\n            break;\n        case 1://idle\n            if (eq.CMD.val==1){\n               eq.STA.val=2;\n               eq.T_STEP=0;\n            }\n            break;\n        case 2://running\n            if (eq.CMD.val==2){\n               eq.STA.val=1;\n               eq.T_STEP=0;\n            }\n            if (eq.CMD.val==3){\n               eq.STA.val=4;\n               eq.T_STEP=0;\n            }        \n            break;\n        case 4://paused\n            if (eq.CMD.val==2){\n               eq.STA.val=1;\n               eq.T_STEP=0;\n            }\n            if (eq.CMD.val==1){\n               eq.STA.val=2;\n               eq.T_STEP=0;\n            }  \n            break;\n        default:\n            eq.STA.val=0;\n    } \n    //---------------------------------\n    eq.CMD.val = 0;\n    eq.T_PREV = now;\n    global.set (eq_name, eq);\n    if (eq.smOn.val===true) {\n        toOPC (eq.STA);\n        toOPC (eq.STEP);\n    }\n}\n\nfunction toOPC (var1)\n{\n    msg.payload = {\n    \"messageType\": \"Variable\",\n    \"variableName\": var1.name,\n    \"variableValue\": var1.val\n    };\n    node.send (msg);\n}\n\n/*\n0 – ініціалізація (тільки при старті ПЛК)\n1 – Idle (простоювання)\n13 – Starting (запускається)\n2 - Running (виконується) \n14- Completing (завершується)\n3 – Pausing (призупиняється)\n4 – Paused (призупинено)\n5 – Holding (утримується)\n6 – Hold (утримуване)\n7 – Restarting (перезапускається)\n8 – Complete (завершено)\n9 – Stopping (зупиняється)\n10 – Stopped (зупинено)\n11 – Aborting (переривається)\n12 – Aborted (перервано)\n15 – Resuming (відновлюється)\n*/","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["82fbf597.c5639","fe4d1f9b.e867f8"]]},{"id":"f534223d.e9daa8","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.PAST1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["7936733e.2ebea4"]]},{"id":"7936733e.2ebea4","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":360,"wires":[["d24328cb.fd393"]]},{"id":"6ba3f354.0316dc","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"Names","payload":"[{\"Name\":\"A1\",\"Parent\":\"i=85\",\"Type\":\"Folder\",\"nsParent\":\"0\",\"ns\":\"1\"},{\"Name\":\"A1.Simul\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.Simul.smCMDALL_On\",\"Parent\":\"A1.Simul\",\"Type\":\"Boolean\"},{\"Name\":\"A1.PAST1\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK105\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK106\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK107\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK108\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS\",\"Parent\":\"A1.T101\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102.PHS\",\"Parent\":\"A1.T102\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103.PHS\",\"Parent\":\"A1.T103\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104.PHS\",\"Parent\":\"A1.T104\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.LOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.UNLOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.COOLING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.DOSING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.FERMENTATION\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"comment\":\"-----------------------------PAST1------------------------------------\",\"Name\":\"A1.PAST1.STA\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.ALM\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CMD\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.STEP\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CR_RECIPE\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.BATCH_ID\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.FIQ1\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.TT101\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.PlanD\",\"Parent\":\"A1.PAST1\",\"Type\":\"String\"},{\"Name\":\"A1.PAST1.PlanQ\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.smOn\",\"Parent\":\"A1.PAST1\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101------------------------------------\",\"Name\":\"A1.T101.STA\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.ALM\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CMD\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.STEP\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CR_RECIPE\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.BATCH_ID\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.FIQ1\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.TT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.LT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.PlanD\",\"Parent\":\"A1.T101\",\"Type\":\"String\"},{\"Name\":\"A1.T101.PlanQ\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.smOn\",\"Parent\":\"A1.T101\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101-LOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.LOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.Interlock\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.IsManual\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CMD\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.STA\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ALM\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.LT1_SP\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-UNLOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.Interlock\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.IsManual\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CMD\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.STA\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ALM\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-COOLING-----------------------------------\",\"Name\":\"A1.T101.PHS.COOLING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.Interlock\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.IsManual\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CMD\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.STA\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ALM\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.TT1_SP\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-DOSING-----------------------------------\",\"Name\":\"A1.T101.PHS.DOSING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.Interlock\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.IsManual\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CMD\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.STA\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ALM\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-FERMENTATION-----------------------------------\",\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.Interlock\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.IsManual\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CMD\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.STA\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ALM\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T102------------------------------------\",\"Name\":\"A1.T102.STA\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.ALM\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CMD\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.STEP\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CR_RECIPE\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.BATCH_ID\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.FIQ1\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.TT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"Name\":\"A1.T102.LT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"Name\":\"A1.T102.PlanD\",\"Parent\":\"A1.T102\",\"Type\":\"String\"},{\"Name\":\"A1.T102.PlanQ\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"Name\":\"A1.T102.smOn\",\"Parent\":\"A1.T102\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T103------------------------------------\",\"Name\":\"A1.T103.STA\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.ALM\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CMD\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.STEP\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CR_RECIPE\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.BATCH_ID\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.FIQ1\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.TT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"Name\":\"A1.T103.LT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"Name\":\"A1.T103.PlanD\",\"Parent\":\"A1.T103\",\"Type\":\"String\"},{\"Name\":\"A1.T103.PlanQ\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"Name\":\"A1.T103.smOn\",\"Parent\":\"A1.T103\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T104------------------------------------\",\"Name\":\"A1.T104.STA\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.ALM\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CMD\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.STEP\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CR_RECIPE\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.BATCH_ID\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.FIQ1\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.TT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"Name\":\"A1.T104.LT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"Name\":\"A1.T104.PlanD\",\"Parent\":\"A1.T104\",\"Type\":\"String\"},{\"Name\":\"A1.T104.PlanQ\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"Name\":\"A1.T104.smOn\",\"Parent\":\"A1.T104\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK105------------------------------------\",\"Name\":\"A1.PK105.STA\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.ALM\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CMD\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.STEP\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CR_RECIPE\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.BATCH_ID\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ1\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ2\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.PlanD\",\"Parent\":\"A1.PK105\",\"Type\":\"String\"},{\"Name\":\"A1.PK105.PlanQ\",\"Parent\":\"A1.PK105\",\"Type\":\"Double\"},{\"Name\":\"A1.PK105.smOn\",\"Parent\":\"A1.PK105\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK106------------------------------------\",\"Name\":\"A1.PK106.STA\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.ALM\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CMD\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.STEP\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CR_RECIPE\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.BATCH_ID\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ1\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ2\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.PlanD\",\"Parent\":\"A1.PK106\",\"Type\":\"String\"},{\"Name\":\"A1.PK106.PlanQ\",\"Parent\":\"A1.PK106\",\"Type\":\"Double\"},{\"Name\":\"A1.PK106.smOn\",\"Parent\":\"A1.PK106\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK107------------------------------------\",\"Name\":\"A1.PK107.STA\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.ALM\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CMD\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.STEP\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CR_RECIPE\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.BATCH_ID\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ1\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ2\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.PlanD\",\"Parent\":\"A1.PK107\",\"Type\":\"String\"},{\"Name\":\"A1.PK107.PlanQ\",\"Parent\":\"A1.PK107\",\"Type\":\"Double\"},{\"Name\":\"A1.PK107.smOn\",\"Parent\":\"A1.PK107\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK108------------------------------------\",\"Name\":\"A1.PK108.STA\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.ALM\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CMD\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.STEP\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CR_RECIPE\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.BATCH_ID\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ1\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ2\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.PlanD\",\"Parent\":\"A1.PK108\",\"Type\":\"String\"},{\"Name\":\"A1.PK108.PlanQ\",\"Parent\":\"A1.PK108\",\"Type\":\"Double\"},{\"Name\":\"A1.PK108.smOn\",\"Parent\":\"A1.PK108\",\"Type\":\"Boolean\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":95,"y":60,"wires":[["304c2636.c35d2a"]],"l":false},{"id":"56b07863.d975f","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.T101","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"10","x":140,"y":420,"wires":[["51f62e8f.bab648"]]},{"id":"83b32ad4.5efbe","type":"function","z":"aeabb2b7.2a8de","name":"T101","func":"//два варіанта виклику - періодичний і за подією\n//при події передається назва еквіпмента P10_A1.T10\n//пероідичний передає суфікс типу _A1.T10 \nlet sufics = msg.topic; \nlet eq_name = \"\";\nif (sufics[0] === \"_\"){\n    let variants = global.get (\"cfg.variants\");\n    for (let i = 1; i < variants; i++) {\n        eq_name = \"P\" + i + sufics; \n        eqsim (eq_name);\n    }\n} \nelse {\n   eq_name = sufics; \n   eqsim (eq_name);\n} \n    \n\nfunction eqsim (eq_name){\n    let eq = global.get (eq_name);//equipment\n    \n if (eq_name.substring(\"T101\")>0){\n    let PHS = eq.PHS;\n    let batch = global.get (\"batch\");\n\n    //вхідна обрбка автомату станів\n    batch.proc_mach (PHS.LOADING);\n    batch.proc_mach (PHS.UNLOADING);\n    batch.proc_mach (PHS.COOLING);\n    batch.proc_mach (PHS.DOSING);\n    batch.proc_mach (PHS.FERMENTATION);\n    \n    //------------імітація -----------\n    if (eq.smOn.val===true) {\n        if (PHS.COOLING.CTRL.STA_RUNNING===true)\n        {\n            eq.TT1.val = eq.TT1.val - 0.5;  \n        }\n        if (PHS.LOADING.CTRL.STA_RUNNING===true)\n        {\n            eq.TT1.val = 25.0;\n            eq.LT1.val = eq.LT1.val + 2.5;\n        }\n        if (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n        {\n            eq.LT1.val = eq.LT1.val - 2.5;\n        }    \n        if (PHS.UNLOADING.CTRL.STA_STOPPED===true || PHS.UNLOADING.CTRL.STA_COMPLETE===true)\n        {\n            eq.TT1.val = 25.0;\n        }\n        if (eq.TT1.val <2.0) eq.TT1.val=2.0; \n        if (eq.TT1.val >90.0) eq.TT1.val=90.0;\n        if (eq.LT1.val <0.0) eq.LT1.val=0.0;\n        if (eq.LT1.val >100.0) eq.LT1.val=100.0;\n        toOPC (eq.TT1);\n        toOPC (eq.LT1);\n        global.set (eq_name + \".TT1\", eq.TT1);\n        global.set (eq_name + \".LT1\", eq.LT1);\n    }\n    //------------\n\n    //---- керування етапами\n    if (PHS.LOADING.CTRL.STA_RUNNING===true)\n    {\n        if (eq.LT1.val >= PHS.LOADING.LT1_SP.val) {\n            PHS.LOADING.CTRL.RUNING_CMPLT = true;\n            batch.proc_mach (PHS.LOADING);\n        }\n    }\n    if (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n    {\n        if (eq.LT1.val <=1) { \n            PHS.UNLOADING.CTRL.RUNING_CMPLT = true;\n            batch.proc_mach (PHS.UNLOADING);\n        }\n    }\n    if (PHS.COOLING.CTRL.STA_RUNNING===true)\n    {\n        if (eq.TT1.val <= PHS.COOLING.TT1_SP.val) {\n            PHS.COOLING.CTRL.RUNING_CMPLT = true;\n            batch.proc_mach (PHS.COOLING);\n        }\n    }\n    //оновлення стану етапів у ОРС\n    phasetoOPC (PHS.LOADING);\n    phasetoOPC (PHS.UNLOADING);\n    phasetoOPC (PHS.COOLING);\n    phasetoOPC (PHS.DOSING);\n    phasetoOPC (PHS.FERMENTATION);\n\n    //------\n    global.set (eq_name + \".PHS\", PHS);\n }    \n\n}\n\nfunction phasetoOPC (PH){\n    toOPC (PH.STA);\n    toOPC (PH.ALM);\n    toOPC (PH.StatusTimestamp);\n    toOPC (PH.CommandTimestamp);\n    toOPC (PH.AlarmTimestamp);\n}\n\nfunction toOPC (var1)\n{\n    msg.payload = {\n    \"messageType\": \"Variable\",\n    \"variableName\": var1.name,\n    \"variableValue\": var1.val\n    };\n    node.send (msg);\n}\n\n","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["fe4d1f9b.e867f8","82fbf597.c5639"]]},{"id":"fe4d1f9b.e867f8","type":"debug","z":"aeabb2b7.2a8de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":400,"wires":[]},{"id":"1443d02a.10248","type":"function","z":"aeabb2b7.2a8de","name":"StartupPHS","func":"let batch = {};\nbatch.proc_mach = proc_mach;\nbatch.CMDtoCTRL = CMDtoCTRL;\nglobal.set (\"batch\", batch); \nreturn msg;\n//функція перетворює команди у CTRL.CMD\n//на вході приймає формат \"ns=1;s=P10_A1.PK106.CMD\", CMD - значення\nfunction CMDtoCTRL (itemCMD, CMD) {\n    let tagname= itemCMD.split(\";\")[1].substring(2);\n    let obCMD = global.get (tagname);\n    let PHname = obCMD.parent;\n    if (PHname.indexOf (\"PHS\") > 0) {//якщо відноситься до команд етапів \n        let PH = global.get (PHname);\n        if (!PH) return;\n        let CTRL = PH.CTRL;\n        if (!CTRL) return;\n        /*вибір джерела команди керування станом в залежності від режиму*/\n        CTRL.CMD_ABORT = CTRL.CMD_ABORT || (CMD==5);\n        CTRL.CMD_HOLD = CTRL.CMD_HOLD || (CMD==4);\n        CTRL.CMD_PAUSE = CTRL.CMD_PAUSE || (CMD==7);\n        CTRL.CMD_RESET = CTRL.CMD_RESET || (CMD==9) || (CMD==2);\n        CTRL.CMD_RESTART = CTRL.CMD_RESTART || (CMD==6) || (CMD==2);\n        CTRL.CMD_RESUME = CTRL.CMD_RESUME || CTRL.CMD_RESTART || (CMD==2) || (CMD==8) || (CMD==9);\n        CTRL.CMD_START = CTRL.CMD_START || (CMD==2);\n        CTRL.CMD_STOP = CTRL.CMD_STOP || (CMD==3);    \n        global.set (PHname + \".CTRL\", PH.CTRL);\n    } \n    else { //якщо це команда на equipment\n        global.set (tagname + \".val\", CMD);\n    }\n}\n\nfunction proc_mach(obPH) { //ob - phase\n    let CFG = obPH.CFG || {\"STEP1\":1, \"T_STEP1\":0, \"T_STEP2\":0};\n    let CTRL = obPH.CTRL || {\n        CMD_ABORT:false,CMD_HOLD:false, CMD_PAUSE:false, CMD_RESET:false,CMD_RESTART:false, CMD_RESUME:false, CMD_START:false, CMD_STOP:false,\n        PAUSING_CMPLT :false,RUNING_CMPLT : false, STARTING_CMPLT : false, COMPLETING_CMPLT : false, HL_RUNNING_CMPLT : false,\n        HOLDING_CMPLT : false, STOPPING_CMPLT : false, ABORTING_CMPLT : false, RESUMING_CMPLT : false, RESTARTING_CMPLT : false,        \n        STA_IDLE: false, STA_RUNNING: false, STA_ABORTING: false, STA_ABORTED: false, STA_HOLDING: false, STA_HELD: false, STA_RESTARTING: false, STA_PAUSING: false, STA_PAUSED: false, STA_STOPPING: false, STA_STOPPED: false, STA_COMPLETE: false\n    };\n    let STA = obPH.STA.val  || 0; //MES STA\n    let CMD = obPH.CMD.val  || 0; //MES CMD\n    let TS_CMD = obPH.CommandTimestamp.val || 0;  \n    let TS_STA = obPH.StatusTimestamp.val || 0;\n    \n    let TS_NOW =  new Date().getTime();\n    CFG.STEP1_PREV = CFG.STEP1;\n    \n    switch (CFG.STEP1) {\n      case 0 ://– ініціалізація (тільки при старті ПЛК) не видимий з HMI\n        CFG.STEP1 =1;   CFG.T_STEP2 = 0;  CFG.T_STEP1 = 0;\n    \tbreak;\n      case 1 ://– Idle (очікує) (назва Режим Стоп)\n        if (CTRL.CMD_START===true) { \n    \t\tCFG.STEP1=2;\n    \t}\n    \tCFG.T_STEP1 = 0;\n        CTRL.PAUSING_CMPLT = false;\n        CTRL.RUNING_CMPLT = false;\n        CTRL.STARTING_CMPLT = false;\n        CTRL.COMPLETING_CMPLT = false;\n        CTRL.HL_RUNNING_CMPLT = false;\n        CTRL.HOLDING_CMPLT = false;\n        CTRL.STOPPING_CMPLT = false;\n        CTRL.ABORTING_CMPLT = false;\n        CTRL.RESUMING_CMPLT = false;\n        CTRL.RESTARTING_CMPLT = false;\n    \tbreak;\n      case 2 ://- Running (виконується) (назва режим Робота)\n        if (CTRL.RUNING_CMPLT===true) { \n    \t\tCFG.STEP1=12; CFG.T_STEP1 = 0; CFG.T_STEP2=0; \n        }\n    \tif (CTRL.CMD_PAUSE===true) CFG.STEP1=8;\n        if (CTRL.CMD_HOLD===true) CFG.STEP1=5;\n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;\n        if (CTRL.PAUSING_CMPLT === false) {\n    \t\tCTRL.RESUMING_CMPLT = false;\n    \t\tCTRL.RESTARTING_CMPLT = false;\n    \t\tCTRL.HOLDING_CMPLT = false;\n    \t}\n    \tbreak;\n      case 3 ://- Aborting\n    \tif (CTRL.ABORTING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=4;      \n    \tbreak;\n      case 4 ://- Aborted\n        if (CTRL.CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1; \n    \tbreak;\n      case 5 ://– Holding (утримується)\n        if (CTRL.HOLDING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=6;\n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;   \n    \tbreak;\n      case 6 ://– Held (утримуване)\n        if (CTRL.CMD_RESTART===true) CFG.STEP1=7;   \n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;    \n    \tbreak;\n      case 7 ://– Restarting (перезапускається)\n        if (CTRL.RESTARTING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=2;\n        if (CTRL.CMD_HOLD===true) CFG.STEP1=5; \n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;   \n    \tbreak;\n      case 8 ://- Pausing\n        if (CTRL.PAUSING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=9;\n        if (CTRL.CMD_HOLD===true) CFG.STEP1=5;\n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;   \n    \tbreak;\n      case 9 ://- Paused\n        if (CTRL.CMD_RESUME===true) CFG.STEP1=2;\n        if (CTRL.RUNING_CMPLT===true) CFG.STEP1 = 12;\n        if (CTRL.CMD_HOLD===true) CFG.STEP1=5;\n        if (CTRL.CMD_STOP===true) CFG.STEP1=10;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;   \n    \tbreak;\n      case 10 ://– Stopping (зупиняється)\n        if (CTRL.STOPPING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=11;\n        if (CTRL.CMD_ABORT===true) CFG.STEP1=3;   \n    \tbreak;\n      case 11 ://– Stopped (зупинено)\n        if (CTRL.CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1;    \n    \tbreak;\n      case 12 ://– Complete \n        if (CTRL.CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1;\n        break;\n      default:\n        CFG.STEP1=0;\n        break\n    }\n    \n    CTRL.STA_IDLE=(CFG.STEP1===1);\n    CTRL.STA_RUNNING=(CFG.STEP1===2);\n    CTRL.STA_ABORTING=(CFG.STEP1===3);\n    CTRL.STA_ABORTED=(CFG.STEP1===4);\n    CTRL.STA_HOLDING=(CFG.STEP1===5);\n    CTRL.STA_HELD=(CFG.STEP1===6);\n    CTRL.STA_RESTARTING=(CFG.STEP1===7);\n    CTRL.STA_PAUSING=(CFG.STEP1===8);\n    CTRL.STA_PAUSED=(CFG.STEP1===9);\n    CTRL.STA_STOPPING=(CFG.STEP1===10);\n    CTRL.STA_STOPPED=(CFG.STEP1===11);\n    CTRL.STA_COMPLETE=(CFG.STEP1===12);\n    \n    //скинути усі команди\n    CTRL.CMD_ABORT = false; CTRL.CMD_HOLD = false; CTRL.CMD_PAUSE = false; CTRL.CMD_RESET = false;\n    CTRL.CMD_RESTART = false; CTRL.CMD_RESUME = false; CTRL.CMD_START = false; CTRL.CMD_STOP = false;\n    \n    STA=CFG.STEP1;\n    CFG.TS_PREV = CFG.TS_PREV || TS_NOW;\n    let delta = (TS_NOW - CFG.TS_PREV)/1000;\n    CFG.T_STEP1 = CFG.T_STEP1 + delta;\n    CFG.T_STEP2 = CFG.T_STEP2 + delta;\n    CFG.TS_PREV = TS_NOW;\n    if (CFG.STEP1_PREV !== CFG.STEP1){\n        TS_STA = TS_NOW/1000;\n        CFG.T_STEP2 = 0;\n    }\n    TS_CMD = TS_NOW/1000;\n    \n    obPH.CFG = CFG;\n    obPH.CTRL = CTRL;\n    obPH.STA.val = STA;\n    obPH.CMD.val = CMD; \n    obPH.CommandTimestamp.val = TS_CMD;  \n    obPH.StatusTimestamp.val = TS_STA;\n    \n    return obPH;\n}\n\n/*------------------- обробка автомату станів процедури\nID\nCFG - конфігурування та плинний стан\nCFG.TS_PREV - попередня відмітка часу\nSTA, CMD  - для роботи з ЛМІ\nCTRL - для спрощення контролю/керування з програми користувача ПЛК\n--- стани:\n0 – ініціалізація (тільки при старті ПЛК) не видимий з HMI\n1 – Idle (очікує) (назва Режим Стоп)\n2 - Running (виконується) (назва режим Робота)\n3 - Aborting\n4 - Aborted\n5 – Holding (утримується)\n6 – Held (утримуване)\n7 – Restarting (перезапускається)\n8 - Pausing\n9 - Paused\n10 – Stopping (зупиняється)\n11 – Stopped (зупинено)\n12 – Complete (запускається)\n--- команди \n2 – START (запустити процедуру)\n3 – STOP (зупинити виконання процедури)\n4 – HOLD (утримувати)\n5 – ABORT (перервати)\n6 – RESTART (перезапустити)\n7 – PAUSE (призупинити)\n8 – RESUME (відновити, продовжити)  \n9 – RESET (скинути)\n\nACTION_ID_HI, ACTION_ID_LOW - Идентификатор текущего ACTION MEScontrol (batch id или service action id). Устанавливается в MEScontrol. Используется для резервирования технологического процесса для текущего ACTION. Если одно из этих полей не равно 0, то MEScontrol может отправлять команды в этот технологический процесс только из соответствующих действий. \nRUN_ID_HI, RUN_ID_LOW - Идентификатор запуска batch action. Устанавливается в MEScontrol. Используется для мониторинга и управления выполнения партии.\nCOMMAND - Код команды. Устанавливается в MEScontrol.\nTS_COMMAND - Время последнего обновления поля команды. Устанавливается ПЛК автоматически.\nSTATUS - Состояние технологического процесса. Устанавливается ПЛК автоматически. MEScontrol подписывается на поле изменения статуса OPC. Он реагирует на изменение статуса и понимает, что команда выполнена, и может начать следующее действие.\nTS_STATUS - Время последнего обновления поля статуса. Устанавливается ПЛК автоматически.\nINTERLOCK - Код блокировки Устанавливается ПЛК автоматически. Это поле представляет причину блокировки технологического процесса. Если значение = 0, то технологический процесс не блокирован, и MEScontrol может отправить ему любую команду. Если значение не равно 0, то технологический процесс блокирован по какой-то причине. MEScontrol не может отправлять ему какие-либо команды.\nTS_INTERLOCK - Время последнего обновления поля блокировки. Устанавливается ПЛК автоматически.\nALARM - Код тревоги. Устанавливается ПЛК автоматически. Это поле представляет причину тревоги технологического процесса.\nTS_ALARM - Время последнего обновления поля тревоги. Устанавливается ПЛК автоматически.\nPARAMETER_IN0  PARAMETER_IN9 - Параметры ввода команды. Устанавливается MEScontrol перед заданием значения поля команды. \nPARAMETER_OUT0  PARAMETER_OUT9 - Выходные параметры технологического процесса. Устанавливается ПЛК автоматически. Содержит любую информацию о технологическом процессе, ходе выполнения, результате выполнения и т. Д.\nIS_MANUAL - Это ручной флаг. Если это значение = 0, то MEScontrol управляет этим технологическим процессом (может отправлять команды, реагировать на изменение статуса) Если это значение = 1, то любая внешняя система имеет контроль. MEScontrol не может отправлять команды и игнорировать сообщения об изменении статуса.\n*/\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":120,"wires":[[]]},{"id":"62be8f71.06e438","type":"OpcUa-Client","z":"e7a15a84.adc1a","endpoint":"37b90396.9096b4","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":500,"y":120,"wires":[["d0a97fb8.5ce998","10362124.d2468f","5bc6ab4e.d92584"]]},{"id":"3a5a464f.f34682","type":"function","z":"e7a15a84.adc1a","name":"Subscribe","func":"let variants = global.get (\"cfg.variants\");\nlet eqipments = [\"PAST1\", \"T101\", \"T102\", \"T103\", \"T104\",\n                \"PK105\", \"PK106\",\"PK107\", \"PK108\"];\nlet items = [];//items for change\nfor (let eq of eqipments){\n    items.push (eq + \".CMD\");\n    items.push (eq + \".smOn\");\n    items.push (eq + \".PlanD\");\n    items.push (eq + \".PlanQ\");\n}\n\nfor (let i = 1; i < 2; i++) {\n    let prefix = \"T10\" + i + \".PHS.\";\n    items.push ( prefix + \"LOADING.CMD\"); \n    items.push ( prefix + \"UNLOADING.CMD\"); \n    items.push ( prefix + \"COOLING.CMD\"); \n    items.push ( prefix + \"DOSING.CMD\"); \n    items.push ( prefix + \"FERMENTATION.CMD\"); \n}   \nfor (let i = 1; i < variants; i++) {\n    let prefix = \"P\" + i + \"_A1.\";\n    let name = \"\";\n    for (let item of items) {\n        name = prefix + item;\n        //console.log (name);\n        let tag = global.get (name);\n        let a = tag.ns.split (\";\");\n        msg.payload = \"1000\";\n        msg.topic = a[0] + \";\" + a[1];\n        msg.datatype = a[2];\n        node.send (msg);\n        \n    }\n}    \n","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["62be8f71.06e438"]]},{"id":"afdde816.d5de8","type":"inject","z":"e7a15a84.adc1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":130,"y":120,"wires":[["3a5a464f.f34682"]]},{"id":"d0a97fb8.5ce998","type":"debug","z":"e7a15a84.adc1a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":120,"wires":[]},{"id":"16b65b90.c19944","type":"function","z":"e7a15a84.adc1a","name":"CMD","func":"//якщо повідомлення не за підпискою - вийти\nif (!msg.serverTimestamp || msg.payload === 0) return;\nlet batch = global.get (\"batch\");\nbatch.CMDtoCTRL (msg.topic, msg.payload);\nmsg = {payload : 0, \n    topic: msg.topic + \";\" + msg.datatype,\n    action : \"write\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["62be8f71.06e438","8182fd71.b16f4","5bc6ab4e.d92584"]]},{"id":"8182fd71.b16f4","type":"function","z":"e7a15a84.adc1a","name":"getEquipment","func":"//парсить повідомлення та вибирає назву еквіпмента, типу\n//з topic=\"ns=1;s=P10_A1.PK106.CMD;datatype=UInt32\" робить P10_A1.PK106 \nlet a = msg.topic.split (\";\");\nif (!a[1]) return;\nlet tag = a[1].substring(2);\nlet ar = tag.split(\".\");\nmsg.topic = ar[0] + \".\" + ar[1]; \nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["a5d38381.ba6b1"]]},{"id":"a5d38381.ba6b1","type":"link out","z":"e7a15a84.adc1a","name":"server","links":["eecbdddb.06da08"],"x":695,"y":280,"wires":[]},{"id":"eecbdddb.06da08","type":"link in","z":"aeabb2b7.2a8de","name":"","links":["a5d38381.ba6b1"],"x":235,"y":640,"wires":[["87a7f486.6ceb68"]]},{"id":"87a7f486.6ceb68","type":"switch","z":"aeabb2b7.2a8de","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_A1.PK","vt":"str"},{"t":"cont","v":"_A1.PAST","vt":"str"},{"t":"cont","v":"_A1.T10","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":640,"wires":[["1d2bb33f.4d224d"],["d24328cb.fd393"],["83b32ad4.5efbe"]]},{"id":"cec01aa8.a43fe8","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.T102","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":140,"y":460,"wires":[["134c06ca.9998d9"]]},{"id":"864226a9.873e08","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.T103","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":140,"y":500,"wires":[["98e892fd.ce6908"]]},{"id":"62c921b6.19cfe","type":"inject","z":"aeabb2b7.2a8de","name":"","topic":"_A1.T104","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"10","x":140,"y":540,"wires":[["2cf5f7f8.3971d8"]]},{"id":"51f62e8f.bab648","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":420,"wires":[["83b32ad4.5efbe"]]},{"id":"134c06ca.9998d9","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":460,"wires":[["83b32ad4.5efbe"]]},{"id":"98e892fd.ce6908","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":500,"wires":[["83b32ad4.5efbe"]]},{"id":"2cf5f7f8.3971d8","type":"delay","z":"aeabb2b7.2a8de","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":540,"wires":[["83b32ad4.5efbe"]]},{"id":"10362124.d2468f","type":"switch","z":"e7a15a84.adc1a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"CMD","vt":"str"},{"t":"cont","v":"smOn","vt":"str"},{"t":"cont","v":"PlanD","vt":"str"},{"t":"cont","v":"PlanQ","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":170,"y":200,"wires":[["16b65b90.c19944"],["fff159d6.64a45"],["3fac93a9.8da04c"],["3fac93a9.8da04c"]],"outputLabels":["CMD","smOn","PlanD","PlanQ"]},{"id":"fff159d6.64a45","type":"function","z":"e7a15a84.adc1a","name":"smOn","func":"//якщо повідомлення не за підпискою - вийти\nif (!msg.serverTimestamp) return;\nlet tag = msg.topic.split(\";\")[1].substring(2);\nglobal.set (tag + \".val\", msg.payload);\nmsg = {payload :  msg.payload, \n    topic: msg.topic + \";\" + msg.datatype,\n    action : \"write\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["8182fd71.b16f4"]]},{"id":"5bc6ab4e.d92584","type":"debug","z":"e7a15a84.adc1a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"3fac93a9.8da04c","type":"function","z":"e7a15a84.adc1a","name":"PlanD/Q","func":"//якщо повідомлення не за підпискою - вийти\nif (!msg.serverTimestamp) return;\nlet tag = msg.topic.split(\";\")[1].substring(2);\nglobal.set (tag + \".val\", msg.payload);\nmsg = {payload :  msg.payload, \n    topic: msg.topic + \";\" + msg.datatype,\n    action : \"write\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["8182fd71.b16f4","bc8ef6cf.a027c"]]},{"id":"bc8ef6cf.a027c","type":"debug","z":"e7a15a84.adc1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":340,"wires":[]}]