simul.json_back
[{"id":"354591f7.f369be","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"27ad25c8.f6c96a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c0f5f553.d766c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34c80e02.eafe9a","type":"tab","label":"Test Nodes"},{"id":"32eaf134.5a85f6","type":"tab","label":"Test Types (read)"},{"id":"fb85f6c0.c3d348","type":"tab","label":"Test Types (write)"},{"id":"22b4ad69.034ee2","type":"tab","label":"Reconnect"},{"id":"897334be.e6fcd","type":"tab","label":"NodeRed UA-Server"},{"id":"f1d9b1ec.858b7","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"99caf801.04194","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"90166311.ad724","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"d0401bfc.bdc0b8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"66f045d4.a034ac","type":"OpcUa-Endpoint","z":"32eaf134.5a85f6","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"9c9cd15e.12c5b","type":"OpcUa-Endpoint","z":"fb85f6c0.c3d348","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"1a6bc900.96934f","type":"OpcUa-Endpoint","z":"22b4ad69.034ee2","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"c11e3783.c21a98","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":260,"wires":[]},{"id":"d9b63df4.ea6d2","type":"split","z":"354591f7.f369be","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":240,"wires":[["d685778b.4f4508","305a6410.56e854"]]},{"id":"d685778b.4f4508","type":"function","z":"354591f7.f369be","name":"ToServer","func":"var obj = msg.payload;\nvar nsParent = obj.nsParent || \"1\";\nvar ns = obj.ns || \"1\";\nvar Parent =\"\";\nvar Name = \"\";    \n//setFolder\nvar msg1 = {};\nvar p=\"\";\nfor (var i = 1; i < 45; i++) {//45\n    p = \"P\" + i;\n    Parent = p + \"_\" + obj.Parent;\n    Name = p + \"_\" + obj.Name; \n\n    msg1.payload = {\"opcuaCommand\":\"setFolder\"};\n    if (nsParent==\"0\") {\n        msg1.topic = \"ns=\" + nsParent + \";\" + obj.Parent} \n    else { \n        msg1.topic = \"ns=\" + nsParent + \";s=\" + Parent} \n    node.send (msg1);\n\n    //add folder\n    if (obj.Type == \"Folder\") {\n        msg1.payload={\"opcuaCommand\":\"addFolder\"};\n        msg1.topic = \"ns=\" + ns + \";s=\" + Name} \n    else { //add var \n            msg1.payload={\"opcuaCommand\":\"addVariable\"};\n            msg1.topic = \"ns=1;s=\" + Name + \";datatype=\" + obj.Type;\n    }\n    node.send (msg1);\n    flow.set(Name, {\"ns\":msg1.topic, \"parent\":Parent });\n}\n\n//return [msg];","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["c11e3783.c21a98","f76c2b10.96ea68"]]},{"id":"f76c2b10.96ea68","type":"OpcUa-Server","z":"354591f7.f369be","port":"53880","name":"","endpoint":"","x":800,"y":100,"wires":[["6452c785.4e45f"]]},{"id":"5fb5558a.d52c5c","type":"OpcUa-Client","z":"354591f7.f369be","endpoint":"f1d9b1ec.858b7","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"2","timeUnit":"s","certificate":"n","localfile":"","name":"","x":480,"y":400,"wires":[["e3460b70.177ae","b5e54e4c.339138"]]},{"id":"e3460b70.177ae","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":400,"wires":[]},{"id":"babae110.6b431","type":"function","z":"354591f7.f369be","name":"ToSubscribe","func":"var obj = msg.payload;\nvar nsParent = obj.nsParent || \"1\";\nvar ns = obj.ns || \"1\";\nvar Parent =\"\";\nvar Name = \"\";    \n//setFolder\nvar msg1 = {};\nvar p=\"\";\nmsg1.payload=1000;\nfor (var i = 1; i < 2; i++) {\n    p = \"P\" + i;\n    Parent = p + \"_\" + obj.Parent;\n    Name = p + \"_\" + obj.Name; \n    if (nsParent==\"0\") {\n        msg1.topic = \"ns=\" + nsParent + \";\" + obj.Parent} \n    else { \n        msg1.topic = \"ns=\" + nsParent + \";s=\" + Parent} \n    node.send (msg1);\n\n    //add folder\n    if (obj.Type !== \"Folder\") {\n            msg1.topic = \"ns=1;s=\" + Name + \";datatype=\" + obj.Type;\n            node.send (msg1);\n    }\n}\n","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["5fb5558a.d52c5c","e3460b70.177ae"]]},{"id":"305a6410.56e854","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":320,"wires":[["babae110.6b431","54caede1.a0d4a4"]]},{"id":"ee8e0035.7923f8","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":460,"wires":[]},{"id":"b5e54e4c.339138","type":"function","z":"354591f7.f369be","name":"Change","func":"var msg1={};\nvar ar = msg.topic.split(\";\");\nvar name = ar[1].replace(/s=/,\"\");\nvar obj = flow.get (name);\nobj.val = msg.payload;\nobj.ts = msg.sourceTimestamp;\nobj.name = name;\nflow.set(name, obj);\nif (name.indexOf(\"CMD\")> -1 && (obj.val!==0) ) {\n    msg1.payload = obj.val;\n    msg1.topic = obj.parent;\n    msg1.name = name; \n    return msg1;\n}","outputs":1,"noerr":0,"x":120,"y":460,"wires":[["ee8e0035.7923f8","29e03ce1.681624","31cc8eb9.518fb2"]]},{"id":"be5e6e3d.007048","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":600,"wires":[]},{"id":"6452c785.4e45f","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":180,"wires":[]},{"id":"c6aa5f69.34e1f","type":"inject","z":"354591f7.f369be","name":"","topic":"ns=1;s=P1_A1.PAST1.ALM;datatype=UInt32","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["2456b464.2b6884"]]},{"id":"2456b464.2b6884","type":"change","z":"354591f7.f369be","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":400,"wires":[["5fb5558a.d52c5c"]]},{"id":"32dcc509.9bf2d2","type":"function","z":"354591f7.f369be","name":"PK","func":"function toOPC (var1)\n{\n    var msg = {\"topic\" : var1.ns, \"payload\" :var1.val, \"action\" : \"write\"};\n    node.send (msg);\n}\n\nvar eq_name = msg.topic; //name equipment\nvar eq = flow.get (eq_name);//equipment\n\nvar n = context.get (eq_name) || {\"T_PREV\": new Date(), \"T_STEP\" : 0.0, \"STEP\" : 0}\nvar now = new Date();\nvar dt = (now - n.T_PREV)/1000 ;//періодичність виклику\nn.T_STEP += dt; //час кроку\n//визначення продуктивності\n//eq.PlanD.val = eq.PlanD.val || \"\";\nvar hms = eq.PlanD.val.split(\":\");\nvar period = parseInt(hms[0])*60*60 + parseInt(hms[1])*60 + parseInt(hms[2]);\nvar quant = eq.PlanQ.val || 0.0;\nvar prod = 0;\nif (period > 0) prod=quant/period; \n\n//визначення приросту\nvar dq_plan=prod*dt;//плановий приріст \nvar dq_var=dq_plan*0.1*Math.random();//варіація до 10%\nvar dq = dq_plan - dq_var;\nvar dq_lost=0;\nvar r = Math.random();\nif (r>0.7){\n    dq_lost=1; \n}//втрати\ndq = dq - dq_lost;\nif (dq<1) dq=1; \n//node.warn (\"dq=\" + dq + \" dq_plan=\" + dq_plan + \" dq_var=\" + dq_var);\n\n//------------імітація -----------\nif (eq.smOn.val===true) {\n    switch (eq.STA.val) {\n            case 0://init\n        //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n            eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n        }\n        break;\n    case 13://starting\n  \n        break;        \n    case 2://running\n        eq.FIQ1.val += parseInt(dq);\n        eq.FIQ2.val += parseInt(dq_lost);\n        if (eq.CMD.val==2){\n            eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n        }\n        break;\n   //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n    }\n}\n//------------\n\n//-------------------------керування\nswitch (eq.STA.val) {\n    case 0://init\n        //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }\n        break;\n    case 2://running\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==3){\n           eq.STA.val=4;\n           n.T_STEP=0;\n        }        \n        break;\n    case 4://paused\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }  \n        break;\n    default:\n        eq.STA.val=0;\n} \neq.CMD.val=0;\n//---------------------------------\n\nif (eq.FIQ1.val<0) eq.FIQ1.val=0;\nif (eq.FIQ2.val<0) eq.FIQ2.val=0;\n\nn.T_PREV = now;\ncontext.set (eq_name,n); \ntoOPC (eq.FIQ1);\ntoOPC (eq.FIQ2);\ntoOPC (eq.STA);\ntoOPC (eq.CMD);\n\n\n\n/*\n0 – ініціалізація (тільки при старті ПЛК)\n1 – Idle (простоювання)\n13 – Starting (запускається)\n2 - Running (виконується) \n14- Completing (завершується)\n3 – Pausing (призупиняється)\n4 – Paused (призупинено)\n5 – Holding (утримується)\n6 – Hold (утримуване)\n7 – Restarting (перезапускається)\n8 – Complete (завершено)\n9 – Stopping (зупиняється)\n10 – Stopped (зупинено)\n11 – Aborting (переривається)\n12 – Aborted (перервано)\n15 – Resuming (відновлюється)\n*/","outputs":1,"noerr":0,"x":570,"y":600,"wires":[["be5e6e3d.007048","5fb5558a.d52c5c"]]},{"id":"3e756e4a.dd670a","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.PK105","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["32dcc509.9bf2d2"]]},{"id":"880c8fa2.b20158","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.PK106","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["b20e4886.1ae068"]]},{"id":"f28ded58.788cb","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.PK107","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":680,"wires":[["3769dd82.77997a"]]},{"id":"75ac83ca.5a7094","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.PK108","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["11bf965f.8679ba"]]},{"id":"b20e4886.1ae068","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":640,"wires":[["32dcc509.9bf2d2"]]},{"id":"3769dd82.77997a","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":680,"wires":[["32dcc509.9bf2d2"]]},{"id":"11bf965f.8679ba","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":720,"wires":[["32dcc509.9bf2d2"]]},{"id":"197c40e7.6934bf","type":"function","z":"354591f7.f369be","name":"PAST","func":"var eq_name = msg.topic; //name equipment\nvar eq = flow.get (eq_name);//equipment\n\nvar n = context.get (eq_name) || {\"T_PREV\": new Date(), \"T_STEP\" : 0.0, \"STEP\" : 0}\nvar now = new Date();\nvar dt = (now - n.T_PREV)/1000 ;//періодичність виклику\nn.T_STEP += dt; //час кроку\n//визначення продуктивності\n\nvar hms = eq.PlanD.val.split(\":\");\nvar period = parseInt(hms[0],10)*60*60 + parseInt(hms[1],10)*60 + parseInt(hms[2],10);\nvar quant = eq.PlanQ.val || 0.0;\nvar prod = 0;\nif (period > 0) prod=quant*1000/period; \n\n//визначення приросту\nvar dq_plan=prod*dt;//плановий приріст \nvar dq_var=dq_plan*0.1*Math.random();//варіація до 10%\nvar dq = dq_plan - dq_var;\n\n\n//node.warn (\"dq=\" + dq + \" dq_plan=\" + dq_plan + \" dq_var=\" + dq_var);\n\n//------------імітація -----------\nif (eq.smOn.val===true) {\n    var secs = now/100000;\n    sin1 = Math.sin(secs);\n    //node.warn (sin1);\n    eq.TT101.val = sin1*5 + 30.0; \n    switch (eq.STA.val) {\n            case 0://init\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n            eq.FIQ1.val = 0; \n        }\n        break;\n    case 13://starting\n  \n        break;        \n    case 2://running\n        eq.FIQ1.val +=dq;\n        break;\n    }\n}\n//------------\n\n//-------------------------керування\nswitch (eq.STA.val) {\n    case 0://init\n        //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }\n        break;\n    case 2://running\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==3){\n           eq.STA.val=4;\n           n.T_STEP=0;\n        }        \n        break;\n    case 4://paused\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }  \n        break;\n    default:\n        eq.STA.val=0;\n} \n//---------------------------------\n\ntoOPC (eq.TT101);\ntoOPC (eq.FIQ1);\ntoOPC (eq.STA);\n\nn.T_PREV = now;\ncontext.set (eq_name,n); \nvar msg1 = {\"topic\":eq.CMD.ns, \"payload\" : 0};\nreturn msg1;\n\nfunction toOPC (var1)\n{\n    var msg = {\"topic\" : var1.ns, \"payload\" :var1.val, \"action\" : \"write\"};\n    node.send (msg);\n}\n\n/*\n0 – ініціалізація (тільки при старті ПЛК)\n1 – Idle (простоювання)\n13 – Starting (запускається)\n2 - Running (виконується) \n14- Completing (завершується)\n3 – Pausing (призупиняється)\n4 – Paused (призупинено)\n5 – Holding (утримується)\n6 – Hold (утримуване)\n7 – Restarting (перезапускається)\n8 – Complete (завершено)\n9 – Stopping (зупиняється)\n10 – Stopped (зупинено)\n11 – Aborting (переривається)\n12 – Aborted (перервано)\n15 – Resuming (відновлюється)\n*/","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["5fb5558a.d52c5c"]]},{"id":"30ba5e59.20d52a","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.PAST1","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":780,"wires":[["868e1dc9.0c18f"]]},{"id":"868e1dc9.0c18f","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":780,"wires":[["197c40e7.6934bf"]]},{"id":"29e03ce1.681624","type":"switch","z":"354591f7.f369be","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"P1_A1.PK105","vt":"str"},{"t":"eq","v":"P1_A1.PK106","vt":"str"},{"t":"eq","v":"P1_A1.PK107","vt":"str"},{"t":"eq","v":"P1_A1.PK108","vt":"str"},{"t":"eq","v":"P1_A1.PAST1","vt":"str"},{"t":"eq","v":"P1_A1.T101","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":270,"y":520,"wires":[["32dcc509.9bf2d2"],["32dcc509.9bf2d2"],["32dcc509.9bf2d2"],["32dcc509.9bf2d2"],["197c40e7.6934bf"],[]]},{"id":"8e1d992a.7b3fa8","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":520,"wires":[["29e03ce1.681624"]]},{"id":"f53cd740.69e76","type":"inject","z":"354591f7.f369be","name":"","topic":"Names","payload":"[{\"Name\":\"A1\",\"Parent\":\"i=85\",\"Type\":\"Folder\",\"nsParent\":\"0\",\"ns\":\"1\"},{\"Name\":\"A1.Simul\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.Simul.smCMDALL_On\",\"Parent\":\"A1.Simul\",\"Type\":\"Boolean\"},{\"Name\":\"A1.PAST1\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK105\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK106\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK107\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK108\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS\",\"Parent\":\"A1.T101\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102.PHS\",\"Parent\":\"A1.T102\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103.PHS\",\"Parent\":\"A1.T103\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104.PHS\",\"Parent\":\"A1.T104\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.LOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.UNLOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.COOLING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.DOSING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.FERMENTATION\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"comment\":\"-----------------------------PAST1------------------------------------\",\"Name\":\"A1.PAST1.STA\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.ALM\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CMD\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.STEP\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CR_RECIPE\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.BATCH_ID\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.FIQ1\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.TT101\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.PlanD\",\"Parent\":\"A1.PAST1\",\"Type\":\"String\"},{\"Name\":\"A1.PAST1.PlanQ\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.smOn\",\"Parent\":\"A1.PAST1\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101------------------------------------\",\"Name\":\"A1.T101.STA\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.ALM\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CMD\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.STEP\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CR_RECIPE\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.BATCH_ID\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.FIQ1\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.TT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.LT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.smOn\",\"Parent\":\"A1.T101\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101-LOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.LOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.Interlock\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.IsManual\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CMD\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.STA\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ALM\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.LT1_SP\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-UNLOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.Interlock\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.IsManual\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CMD\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.STA\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ALM\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-COOLING-----------------------------------\",\"Name\":\"A1.T101.PHS.COOLING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.Interlock\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.IsManual\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CMD\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.STA\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ALM\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.TT1_SP\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-DOSING-----------------------------------\",\"Name\":\"A1.T101.PHS.DOSING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.Interlock\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.IsManual\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CMD\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.STA\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ALM\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-FERMENTATION-----------------------------------\",\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.Interlock\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.IsManual\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CMD\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.STA\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ALM\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T102------------------------------------\",\"Name\":\"A1.T102.STA\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.ALM\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CMD\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.STEP\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CR_RECIPE\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.BATCH_ID\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.FIQ1\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.TT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"Name\":\"A1.T102.LT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T103------------------------------------\",\"Name\":\"A1.T103.STA\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.ALM\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CMD\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.STEP\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CR_RECIPE\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.BATCH_ID\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.FIQ1\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.TT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"Name\":\"A1.T103.LT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T104------------------------------------\",\"Name\":\"A1.T104.STA\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.ALM\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CMD\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.STEP\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CR_RECIPE\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.BATCH_ID\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.FIQ1\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.TT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"Name\":\"A1.T104.LT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------PK105------------------------------------\",\"Name\":\"A1.PK105.STA\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.ALM\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CMD\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.STEP\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CR_RECIPE\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.BATCH_ID\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ1\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ2\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.PlanD\",\"Parent\":\"A1.PK105\",\"Type\":\"String\"},{\"Name\":\"A1.PK105.PlanQ\",\"Parent\":\"A1.PK105\",\"Type\":\"Double\"},{\"Name\":\"A1.PK105.smOn\",\"Parent\":\"A1.PK105\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK106------------------------------------\",\"Name\":\"A1.PK106.STA\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.ALM\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CMD\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.STEP\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CR_RECIPE\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.BATCH_ID\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ1\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ2\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.PlanD\",\"Parent\":\"A1.PK106\",\"Type\":\"String\"},{\"Name\":\"A1.PK106.PlanQ\",\"Parent\":\"A1.PK106\",\"Type\":\"Double\"},{\"Name\":\"A1.PK106.smOn\",\"Parent\":\"A1.PK106\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK107------------------------------------\",\"Name\":\"A1.PK107.STA\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.ALM\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CMD\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.STEP\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CR_RECIPE\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.BATCH_ID\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ1\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ2\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.PlanD\",\"Parent\":\"A1.PK107\",\"Type\":\"String\"},{\"Name\":\"A1.PK107.PlanQ\",\"Parent\":\"A1.PK107\",\"Type\":\"Double\"},{\"Name\":\"A1.PK107.smOn\",\"Parent\":\"A1.PK107\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK108------------------------------------\",\"Name\":\"A1.PK108.STA\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.ALM\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CMD\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.STEP\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CR_RECIPE\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.BATCH_ID\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ1\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ2\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.PlanD\",\"Parent\":\"A1.PK108\",\"Type\":\"String\"},{\"Name\":\"A1.PK108.PlanQ\",\"Parent\":\"A1.PK108\",\"Type\":\"Double\"},{\"Name\":\"A1.PK108.smOn\",\"Parent\":\"A1.PK108\",\"Type\":\"Boolean\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":95,"y":240,"wires":[["d9b63df4.ea6d2"]],"l":false},{"id":"d1e0b7d6.280458","type":"inject","z":"354591f7.f369be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":280,"y":120,"wires":[["7c3f5e7c.d162b8"]]},{"id":"7c3f5e7c.d162b8","type":"function","z":"354591f7.f369be","name":"StartupPHS","func":"function proc_mach(ob) {\nvar CFG = ob.CFG || {\"STEP1\":1, \"T_STEP1\":0, \"T_STEP2\":0};\nvar CTRL = ob.CTRL || {};\nvar STA = ob.STA.val  || 0; //MES STA\nvar CMD = ob.CMD.val  || 0; //MES CMD\nvar TS_CMD = ob.CommandTimestamp.val || 0;  \nvar TS_STA = ob.StatusTimestamp.val || 0;\n\n/*вибір джерела команди керування станом в залежності від режиму*/\nvar CMD_ABORT = CTRL.CMD_ABORT || (CMD==5);\nvar CMD_HOLD = CTRL.CMD_HOLD || (CMD==4);\nvar CMD_PAUSE = CTRL.CMD_PAUSE || (CMD==7);\nvar CMD_RESET = CTRL.CMD_RESET || (CMD==9) || (CMD==2);\nvar CMD_RESTART = CTRL.CMD_RESTART || (CMD==6) || (CMD==2);\nvar CMD_RESUME = CTRL.CMD_RESUME || CTRL.CMD_RESTART || (CMD==2) || (CMD==8) || (CMD==9);\nvar CMD_START = CTRL.CMD_START || (CMD==2);\nvar CMD_STOP = CTRL.CMD_STOP || (CMD==3);\n\nvar TS_NOW =  new Date().getTime();\nCFG.STEP1_PREV = CFG.STEP1;\n//CFG.CMD_PREV = CMD;\n\nswitch (CFG.STEP1) {\n  case 0 ://– ініціалізація (тільки при старті ПЛК) не видимий з HMI\n    CFG.STEP1 =1;   CFG.T_STEP2 = 0;  CFG.T_STEP1 = 0;\n\tbreak;\n  case 1 ://– Idle (очікує) (назва Режим Стоп)\n    if (CMD_START===true) { \n\t\tCFG.STEP1=2;\n\t}\n\tCFG.T_STEP1 = 0;\n    CTRL.PAUSING_CMPLT = false;\n    CTRL.RUNING_CMPLT = false;\n    CTRL.STARTING_CMPLT = false;\n    CTRL.COMPLETING_CMPLT = false;\n    CTRL.HL_RUNNING_CMPLT = false;\n    CTRL.HOLDING_CMPLT = false;\n    CTRL.STOPPING_CMPLT = false;\n    CTRL.ABORTING_CMPLT = false;\n    CTRL.RESUMING_CMPLT = false;\n    CTRL.RESTARTING_CMPLT = false;\n\tbreak;\n  case 2 ://- Running (виконується) (назва режим Робота)\n    if (CTRL.RUNING_CMPLT===true) { \n\t\tCFG.STEP1=12; CFG.T_STEP1 = 0; CFG.T_STEP2=0; \n    }\n\tif (CMD_PAUSE===true) CFG.STEP1=8;\n    if (CMD_HOLD===true) CFG.STEP1=5;\n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;\n    if (CTRL.PAUSING_CMPLT === false) {\n\t\tCTRL.RESUMING_CMPLT = false;\n\t\tCTRL.RESTARTING_CMPLT = false;\n\t\tCTRL.HOLDING_CMPLT = false;\n\t}\n\tbreak;\n  case 3 ://- Aborting\n\tif (CTRL.ABORTING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=4;      \n\tbreak;\n  case 4 ://- Aborted\n    if (CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1; \n\tbreak;\n  case 5 ://– Holding (утримується)\n    if (CTRL.HOLDING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=6;\n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;   \n\tbreak;\n  case 6 ://– Held (утримуване)\n    if (CMD_RESTART===true) CFG.STEP1=7;   \n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;    \n\tbreak;\n  case 7 ://– Restarting (перезапускається)\n    if (CTRL.RESTARTING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=2;\n    if (CMD_HOLD===true) CFG.STEP1=5; \n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;   \n\tbreak;\n  case 8 ://- Pausing\n    if (CTRL.PAUSING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=9;\n    if (CMD_HOLD===true) CFG.STEP1=5;\n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;   \n\tbreak;\n  case 9 ://- Paused\n    if (CMD_RESUME===true) CFG.STEP1=2;\n    if (CTRL.RUNING_CMPLT===true) CFG.STEP1 = 12;\n    if (CMD_HOLD===true) CFG.STEP1=5;\n    if (CMD_STOP===true) CFG.STEP1=10;\n    if (CMD_ABORT===true) CFG.STEP1=3;   \n\tbreak;\n  case 10 ://– Stopping (зупиняється)\n    if (CTRL.STOPPING_CMPLT===true || CFG.T_STEP2>1) CFG.STEP1=11;\n    if (CMD_ABORT===true) CFG.STEP1=3;   \n\tbreak;\n  case 11 ://– Stopped (зупинено)\n    if (CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1;    \n\tbreak;\n  case 12 ://– Complete \n    if (CMD_RESET===true || CFG.T_STEP2>5) CFG.STEP1=1;\n    break;\n  default:\n    CFG.STEP1=0;\n    break\n}\n\nCTRL.STA_IDLE=(CFG.STEP1===1);\nCTRL.STA_RUNNING=(CFG.STEP1===2);\nCTRL.STA_ABORTING=(CFG.STEP1===3);\nCTRL.STA_ABORTED=(CFG.STEP1===4);\nCTRL.STA_HOLDING=(CFG.STEP1===5);\nCTRL.STA_HELD=(CFG.STEP1===6);\nCTRL.STA_RESTARTING=(CFG.STEP1===7);\nCTRL.STA_PAUSING=(CFG.STEP1===8);\nCTRL.STA_PAUSED=(CFG.STEP1===9);\nCTRL.STA_STOPPING=(CFG.STEP1===10);\nCTRL.STA_STOPPED=(CFG.STEP1===11);\nCTRL.STA_COMPLETE=(CFG.STEP1===12);\n\nCTRL.CMD_ABORT = false;\nCTRL.CMD_HOLD = false;\nCTRL.CMD_PAUSE = false;\nCTRL.CMD_RESET = false;\nCTRL.CMD_RESTART = false;\nCTRL.CMD_RESUME = false;\nCTRL.CMD_START = false;\nCTRL.CMD_STOP = false;\n\nSTA=CFG.STEP1;\nCFG.TS_PREV = CFG.TS_PREV || TS_NOW;\nvar delta = (TS_NOW - CFG.TS_PREV)/1000;\nCFG.T_STEP1 = CFG.T_STEP1 + delta;\nCFG.T_STEP2 = CFG.T_STEP2 + delta;\nCFG.TS_PREV = TS_NOW;\nif (CFG.STEP1_PREV !== CFG.STEP1){\n    TS_STA = TS_NOW/1000;\n    CFG.T_STEP2 = 0;\n}\nTS_CMD = TS_NOW/1000;\n\nob.CFG = CFG;\nob.CTRL = CTRL;\nob.STA.val = STA;\nob.CMD.val = CMD; \nob.CommandTimestamp.val = TS_CMD;  \nob.StatusTimestamp.val = TS_STA;\n\nreturn ob;\n}\n\n/*------------------- обробка автомату станів процедури\nID\nCFG - конфігурування та плинний стан\nCFG.TS_PREV - попередня відмітка часу\nSTA, CMD  - для роботи з ЛМІ\nCTRL - для спрощення контролю/керування з програми користувача ПЛК\n--- стани:\n0 – ініціалізація (тільки при старті ПЛК) не видимий з HMI\n1 – Idle (очікує) (назва Режим Стоп)\n2 - Running (виконується) (назва режим Робота)\n3 - Aborting\n4 - Aborted\n5 – Holding (утримується)\n6 – Held (утримуване)\n7 – Restarting (перезапускається)\n8 - Pausing\n9 - Paused\n10 – Stopping (зупиняється)\n11 – Stopped (зупинено)\n12 – Complete (запускається)\n--- команди \n2 – START (запустити процедуру)\n3 – STOP (зупинити виконання процедури)\n4 – HOLD (утримувати)\n5 – ABORT (перервати)\n6 – RESTART (перезапустити)\n7 – PAUSE (призупинити)\n8 – RESUME (відновити, продовжити)  \n9 – RESET (скинути)\n\nACTION_ID_HI, ACTION_ID_LOW - Идентификатор текущего ACTION MEScontrol (batch id или service action id). Устанавливается в MEScontrol. Используется для резервирования технологического процесса для текущего ACTION. Если одно из этих полей не равно 0, то MEScontrol может отправлять команды в этот технологический процесс только из соответствующих действий. \nRUN_ID_HI, RUN_ID_LOW - Идентификатор запуска batch action. Устанавливается в MEScontrol. Используется для мониторинга и управления выполнения партии.\nCOMMAND - Код команды. Устанавливается в MEScontrol.\nTS_COMMAND - Время последнего обновления поля команды. Устанавливается ПЛК автоматически.\nSTATUS - Состояние технологического процесса. Устанавливается ПЛК автоматически. MEScontrol подписывается на поле изменения статуса OPC. Он реагирует на изменение статуса и понимает, что команда выполнена, и может начать следующее действие.\nTS_STATUS - Время последнего обновления поля статуса. Устанавливается ПЛК автоматически.\nINTERLOCK - Код блокировки Устанавливается ПЛК автоматически. Это поле представляет причину блокировки технологического процесса. Если значение = 0, то технологический процесс не блокирован, и MEScontrol может отправить ему любую команду. Если значение не равно 0, то технологический процесс блокирован по какой-то причине. MEScontrol не может отправлять ему какие-либо команды.\nTS_INTERLOCK - Время последнего обновления поля блокировки. Устанавливается ПЛК автоматически.\nALARM - Код тревоги. Устанавливается ПЛК автоматически. Это поле представляет причину тревоги технологического процесса.\nTS_ALARM - Время последнего обновления поля тревоги. Устанавливается ПЛК автоматически.\nPARAMETER_IN0  PARAMETER_IN9 - Параметры ввода команды. Устанавливается MEScontrol перед заданием значения поля команды. \nPARAMETER_OUT0  PARAMETER_OUT9 - Выходные параметры технологического процесса. Устанавливается ПЛК автоматически. Содержит любую информацию о технологическом процессе, ходе выполнения, результате выполнения и т. Д.\nIS_MANUAL - Это ручной флаг. Если это значение = 0, то MEScontrol управляет этим технологическим процессом (может отправлять команды, реагировать на изменение статуса) Если это значение = 1, то любая внешняя система имеет контроль. MEScontrol не может отправлять команды и игнорировать сообщения об изменении статуса.\n*/\n\nvar batch = {};\nbatch.proc_mach = proc_mach;\nglobal.set (\"batch\", batch); \n\n\n","outputs":1,"noerr":0,"x":450,"y":120,"wires":[[]]},{"id":"c54f79b6.6ff1c","type":"inject","z":"354591f7.f369be","name":"","topic":"P1_A1.T101","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20","x":250,"y":840,"wires":[["878507f7.337fd"]]},{"id":"878507f7.337fd","type":"function","z":"354591f7.f369be","name":"T101","func":"var eq_name = msg.topic; //name equipment\nvar eq = flow.get (eq_name);//equipment\nvar PHS = eq.PHS;\n\n//------------імітація -----------\nif (eq.smOn.val===true) {\n    if (PHS.COOLING.CTRL.STA_RUNNING===true)\n    {\n        eq.TT1.val = eq.TT1.val - 0.5;  \n    }\n    if (PHS.LOADING.CTRL.STA_RUNNING===true)\n    {\n        eq.TT1.val = 25.0;\n        eq.LT1.val = eq.LT1.val + 2.5;\n    }\n    if (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n    {\n        eq.LT1.val = eq.LT1.val - 2.5;\n    }    \n    if (PHS.UNLOADING.CTRL.STA_STOPPED===true || PHS.UNLOADING.CTRL.STA_COMPLETE===true)\n    {\n        eq.TT1.val = 25.0;\n    }\n    if (eq.TT1.val <2.0) eq.TT1.val=2.0; \n    if (eq.TT1.val >90.0) eq.TT1.val=90.0;\n    if (eq.LT1.val <0.0) eq.LT1.val=0.0;\n    if (eq.LT1.val >100.0) eq.LT1.val=100.0;\n    toOPC (eq.TT1);\n    toOPC (eq.LT1);\n    flow.set (eq_name + \".TT1\", eq.TT1);\n    flow.set (eq_name + \".LT1\", eq.LT1);\n}\n//------------\n\n//---- керування\nif (PHS.LOADING.CTRL.STA_RUNNING===true)\n{\n    if (eq.LT1.val >= PHS.LOADING.LT1_SP.val) PHS.LOADING.CTRL.RUNING_CMPLT = true;\n}\nif (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n{\n    if (eq.LT1.val <=1) PHS.UNLOADING.CTRL.RUNING_CMPLT = true;\n}\nif (PHS.COOLING.CTRL.STA_RUNNING===true)\n{\n    if (eq.TT1.val <= PHS.COOLING.TT1_SP.val) PHS.COOLING.CTRL.RUNING_CMPLT = true;\n}\n//------\nflow.set (eq_name + \".PHS.LOADING.CFG\", PHS.LOADING.CFG);\nflow.set (eq_name + \".PHS.LOADING.CTRL\", PHS.LOADING.CTRL);\nflow.set (eq_name + \".PHS.UNLOADING.CFG\", PHS.UNLOADING.CFG);\nflow.set (eq_name + \".PHS.UNLOADING.CTRL\", PHS.UNLOADING.CTRL);\nflow.set (eq_name + \".PHS.COOLING.CFG\", PHS.COOLING.CFG);\nflow.set (eq_name + \".PHS.COOLING.CTRL\", PHS.COOLING.CTRL);\n\nfunction toOPC (var1)\n{\n    var msg = {\"topic\" : var1.ns, \"payload\" :var1.val, \"action\" : \"write\"};\n    node.send (msg);\n}\n\n\n","outputs":1,"noerr":0,"x":470,"y":840,"wires":[["deda2f7d.d59328","5fb5558a.d52c5c"]]},{"id":"deda2f7d.d59328","type":"debug","z":"354591f7.f369be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":840,"wires":[]},{"id":"54caede1.a0d4a4","type":"delay","z":"354591f7.f369be","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":180,"wires":[["7c3f5e7c.d162b8"]]},{"id":"31cc8eb9.518fb2","type":"function","z":"354591f7.f369be","name":"PHASES","func":"var PH_NAME = msg.topic;\nif (PH_NAME.indexOf(\"PHS.\")<0){\n   var area = flow.get (\"P1_A1\");\n    if (area.T101.CMD.val == 1 || area.T101.CMD.val == 2) {\n        var PHS = area.T101.PHS;\n        PHS.LOADING.CTRL.CMD_STOP = true;\n        PHS.UNLOADING.CTRL.CMD_STOP = true;\n        PHS.COOLING.CTRL.CMD_STOP = true;\n        PHS.DOSING.CTRL.CMD_STOP = true;\n        PHS.FERMENTATION.CTRL.CMD_STOP = true;\n        area.T101.CMD.val = 0;\n        toOPC (area.T101.CMD);\n        flow.set (PHS.LOADING[\"parent\"], PHS);\n    }\n    return;\n}\nvar batch = global.get (\"batch\");\nvar PH = flow.get(PH_NAME);\nPH.CFG = PH.CFG || {};\nPH.CTRL = PH.CTRL || {};\nPH = batch.proc_mach (PH);\nif (PH.CMD.val !== PH.CFG.CMD_PREV){ \n    PH.CMD.val = 0;\n    toOPC (PH.CMD);\n}\nPH.CFG.CMD_PREV = PH.CMD.val;\ntoOPC (PH.STA);\ntoOPC (PH.ALM);\ntoOPC (PH.StatusTimestamp);\ntoOPC (PH.CommandTimestamp);\ntoOPC (PH.AlarmTimestamp);\nflow.set (PH_NAME, PH);\n\nfunction toOPC (var1)\n{\n    var msg = {\"topic\" : var1.ns, \"payload\" :var1.val, \"action\" : \"write\"};\n    node.send (msg);\n}\n\n\n","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["5fb5558a.d52c5c"]]},{"id":"cef6b801.e8c878","type":"inject","z":"354591f7.f369be","name":"T101.PHS.LOADING","topic":"P1_A1.T101.PHS.LOADING","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20.1","x":940,"y":540,"wires":[["31cc8eb9.518fb2"]]},{"id":"8285b2ff.ee239","type":"inject","z":"354591f7.f369be","name":"T101.PHS.UNLOADING","topic":"P1_A1.T101.PHS.UNLOADING","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20.2","x":950,"y":580,"wires":[["31cc8eb9.518fb2"]]},{"id":"b09232d7.ad7318","type":"inject","z":"354591f7.f369be","name":"T101.PHS.DOSING","topic":"P1_A1.T101.PHS.DOSING","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20.3","x":940,"y":620,"wires":[["31cc8eb9.518fb2"]]},{"id":"af816576.20407","type":"inject","z":"354591f7.f369be","name":"T101.PHS.COOLING","topic":"P1_A1.T101.PHS.COOLING","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20.4","x":940,"y":660,"wires":[["31cc8eb9.518fb2"]]},{"id":"f4d95993.c49ab8","type":"inject","z":"354591f7.f369be","name":"T101.PHS.FERMENTATION","topic":"P1_A1.T101.PHS.FERMENTATION","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20.5","x":960,"y":700,"wires":[["31cc8eb9.518fb2"]]},{"id":"13c857f4.b858a","type":"inject","z":"27ad25c8.f6c96a","name":"Names","topic":"","payload":"[{\"Name\":\"A1\",\"Parent\":\"i=85\",\"Type\":\"Folder\",\"nsParent\":\"0\",\"ns\":\"1\"},{\"Name\":\"A1.Simul\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.Simul.smCMDALL_On\",\"Parent\":\"A1.Simul\",\"Type\":\"Boolean\"},{\"Name\":\"A1.PAST1\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK105\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK106\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK107\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK108\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS\",\"Parent\":\"A1.T101\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102.PHS\",\"Parent\":\"A1.T102\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103.PHS\",\"Parent\":\"A1.T103\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104.PHS\",\"Parent\":\"A1.T104\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.LOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.UNLOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.COOLING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.DOSING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.FERMENTATION\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"comment\":\"-----------------------------PAST1------------------------------------\",\"Name\":\"A1.PAST1.STA\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.ALM\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CMD\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.STEP\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CR_RECIPE\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.BATCH_ID\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.FIQ1\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.TT101\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.PlanD\",\"Parent\":\"A1.PAST1\",\"Type\":\"String\"},{\"Name\":\"A1.PAST1.PlanQ\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.smOn\",\"Parent\":\"A1.PAST1\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101------------------------------------\",\"Name\":\"A1.T101.STA\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.ALM\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CMD\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.STEP\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.CR_RECIPE\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.BATCH_ID\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.FIQ1\",\"Parent\":\"A1.T101\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.TT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.LT1\",\"Parent\":\"A1.T101\",\"Type\":\"Double\"},{\"Name\":\"A1.T101.smOn\",\"Parent\":\"A1.T101\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------T101-LOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.LOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.Interlock\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.IsManual\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.CMD\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.STA\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.ALM\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.LOADING.LT1_SP\",\"Parent\":\"A1.T101.PHS.LOADING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-UNLOADING-----------------------------------\",\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.Interlock\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.IsManual\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdHi\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.RunIdLo\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.CMD\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.STA\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.UNLOADING.ALM\",\"Parent\":\"A1.T101.PHS.UNLOADING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-COOLING-----------------------------------\",\"Name\":\"A1.T101.PHS.COOLING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.Interlock\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.IsManual\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdHi\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.RunIdLo\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.CMD\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.STA\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.ALM\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.COOLING.TT1_SP\",\"Parent\":\"A1.T101.PHS.COOLING\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T101-DOSING-----------------------------------\",\"Name\":\"A1.T101.PHS.DOSING.ActionIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ActionIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.Interlock\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.IsManual\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdHi\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.RunIdLo\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.CMD\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.STA\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.DOSING.ALM\",\"Parent\":\"A1.T101.PHS.DOSING\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T101-FERMENTATION-----------------------------------\",\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ActionIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.AlarmTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CommandTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.Interlock\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.InterlockTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.IsManual\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdHi\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.RunIdLo\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.StatusTimestamp\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.CMD\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.STA\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T101.PHS.FERMENTATION.ALM\",\"Parent\":\"A1.T101.PHS.FERMENTATION\",\"Type\":\"UInt32\"},{\"comment\":\"-----------------------------T102------------------------------------\",\"Name\":\"A1.T102.STA\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.ALM\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CMD\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.STEP\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.CR_RECIPE\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.BATCH_ID\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.FIQ1\",\"Parent\":\"A1.T102\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T102.TT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"Name\":\"A1.T102.LT1\",\"Parent\":\"A1.T102\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T103------------------------------------\",\"Name\":\"A1.T103.STA\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.ALM\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CMD\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.STEP\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.CR_RECIPE\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.BATCH_ID\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.FIQ1\",\"Parent\":\"A1.T103\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T103.TT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"Name\":\"A1.T103.LT1\",\"Parent\":\"A1.T103\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------T104------------------------------------\",\"Name\":\"A1.T104.STA\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.ALM\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CMD\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.STEP\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.CR_RECIPE\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.BATCH_ID\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.FIQ1\",\"Parent\":\"A1.T104\",\"Type\":\"UInt32\"},{\"Name\":\"A1.T104.TT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"Name\":\"A1.T104.LT1\",\"Parent\":\"A1.T104\",\"Type\":\"Double\"},{\"comment\":\"-----------------------------PK105------------------------------------\",\"Name\":\"A1.PK105.STA\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.ALM\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CMD\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.STEP\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.CR_RECIPE\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.BATCH_ID\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ1\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.FIQ2\",\"Parent\":\"A1.PK105\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK105.PlanD\",\"Parent\":\"A1.PK105\",\"Type\":\"String\"},{\"Name\":\"A1.PK105.PlanQ\",\"Parent\":\"A1.PK105\",\"Type\":\"Double\"},{\"Name\":\"A1.PK105.smOn\",\"Parent\":\"A1.PK105\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK106------------------------------------\",\"Name\":\"A1.PK106.STA\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.ALM\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CMD\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.STEP\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.CR_RECIPE\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.BATCH_ID\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ1\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.FIQ2\",\"Parent\":\"A1.PK106\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK106.PlanD\",\"Parent\":\"A1.PK106\",\"Type\":\"String\"},{\"Name\":\"A1.PK106.PlanQ\",\"Parent\":\"A1.PK106\",\"Type\":\"Double\"},{\"Name\":\"A1.PK106.smOn\",\"Parent\":\"A1.PK106\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK107------------------------------------\",\"Name\":\"A1.PK107.STA\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.ALM\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CMD\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.STEP\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.CR_RECIPE\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.BATCH_ID\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ1\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.FIQ2\",\"Parent\":\"A1.PK107\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK107.PlanD\",\"Parent\":\"A1.PK107\",\"Type\":\"String\"},{\"Name\":\"A1.PK107.PlanQ\",\"Parent\":\"A1.PK107\",\"Type\":\"Double\"},{\"Name\":\"A1.PK107.smOn\",\"Parent\":\"A1.PK107\",\"Type\":\"Boolean\"},{\"comment\":\"-----------------------------PK108------------------------------------\",\"Name\":\"A1.PK108.STA\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.ALM\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CMD\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.STEP\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.CR_RECIPE\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.BATCH_ID\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ1\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.FIQ2\",\"Parent\":\"A1.PK108\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PK108.PlanD\",\"Parent\":\"A1.PK108\",\"Type\":\"String\"},{\"Name\":\"A1.PK108.PlanQ\",\"Parent\":\"A1.PK108\",\"Type\":\"Double\"},{\"Name\":\"A1.PK108.smOn\",\"Parent\":\"A1.PK108\",\"Type\":\"Boolean\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":120,"wires":[["633328.920914d8"]],"l":false,"info":"Створює і передає масив обєктів для одного варіанту\n`[{\"Name\":\"A1\",\"Parent\":\"i=85\",\"Type\":\"Folder\",\"nsParent\":\"0\",\"ns\":\"1\"},{\"Name\":\"A1.Simul\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.Simul.smCMDALL_On\",\"Parent\":\"A1.Simul\",\"Type\":\"Boolean\"},{\"Name\":\"A1.PAST1\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK105\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK106\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK107\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.PK108\",\"Parent\":\"A1\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS\",\"Parent\":\"A1.T101\",\"Type\":\"Folder\"},{\"Name\":\"A1.T102.PHS\",\"Parent\":\"A1.T102\",\"Type\":\"Folder\"},{\"Name\":\"A1.T103.PHS\",\"Parent\":\"A1.T103\",\"Type\":\"Folder\"},{\"Name\":\"A1.T104.PHS\",\"Parent\":\"A1.T104\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.LOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.UNLOADING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.COOLING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.DOSING\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"Name\":\"A1.T101.PHS.FERMENTATION\",\"Parent\":\"A1.T101.PHS\",\"Type\":\"Folder\"},{\"comment\":\"-----------------------------PAST1------------------------------------\",\"Name\":\"A1.PAST1.STA\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.ALM\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CMD\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.STEP\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.CR_RECIPE\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.BATCH_ID\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.FIQ1\",\"Parent\":\"A1.PAST1\",\"Type\":\"UInt32\"},{\"Name\":\"A1.PAST1.TT101\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.PlanD\",\"Parent\":\"A1.PAST1\",\"Type\":\"String\"},{\"Name\":\"A1.PAST1.PlanQ\",\"Parent\":\"A1.PAST1\",\"Type\":\"Double\"},{\"Name\":\"A1.PAST1.smOn\",\"Parent\":\"A1.PAST1\",\"Type\":\"Boolean\"}}]`"},{"id":"633328.920914d8","type":"split","z":"27ad25c8.f6c96a","name":"ArrayToMSG","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":120,"wires":[["f3f68efe.dedcb","f55bd70d.491418"]]},{"id":"f3f68efe.dedcb","type":"function","z":"27ad25c8.f6c96a","name":"ToServer","func":"let obj = msg.payload;\nlet nsParent = obj.nsParent || \"1\";\nlet ns = obj.ns || \"1\";\nlet Parent =\"\";\nlet Name = \"\";    \n//setFolder\nlet msg1 = {};\nlet p=\"\";\nlet vars = flow.get (\"cfg.variants\");\n//створює змінні для заданої кількості варіантів\nfor (let i = 1; i < vars; i++) {\n    p = \"P\" + i;//номер варіанту - кілька Area\n    Parent = p + \"_\" + obj.Parent;\n    Name = p + \"_\" + obj.Name; \n\n    msg1.payload = {\"opcuaCommand\":\"setFolder\"};\n    if (nsParent==\"0\") {\n        msg1.topic = \"ns=\" + nsParent + \";\" + obj.Parent} \n    else { \n        msg1.topic = \"ns=\" + nsParent + \";s=\" + Parent} \n    node.send (msg1);\n\n    //add folder\n    if (obj.Type == \"Folder\") {\n        msg1.payload={\"opcuaCommand\":\"addFolder\"};\n        msg1.topic = \"ns=\" + ns + \";s=\" + Name} \n    else { //add var \n            msg1.payload={\"opcuaCommand\":\"addVariable\"};\n            msg1.topic = \"ns=1;s=\" + Name + \";datatype=\" + obj.Type;\n    }\n    node.send (msg1);\n    flow.set(Name, {\"ns\":msg1.topic, \"parent\":Parent });\n}\n","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["65594bc2.7f19fc"]]},{"id":"65594bc2.7f19fc","type":"OpcUa-Server","z":"27ad25c8.f6c96a","port":"53880","name":"","endpoint":"","x":560,"y":120,"wires":[["c2fcd63f.528d88"]]},{"id":"c2fcd63f.528d88","type":"debug","z":"27ad25c8.f6c96a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":120,"wires":[]},{"id":"95ada831.900448","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"P1_A1.PAST1.ALM\",\"variableValue\":18}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":180,"wires":[["65594bc2.7f19fc"]]},{"id":"cd489d4.05f1de","type":"function","z":"27ad25c8.f6c96a","name":"ToSubscribe","func":"var obj = msg.payload;\nvar nsParent = obj.nsParent || \"1\";\nvar ns = obj.ns || \"1\";\nvar Parent =\"\";\nvar Name = \"\";    \n//setFolder\nvar msg1 = {};\nvar p=\"\";\nmsg1.payload=1000;\nfor (var i = 1; i < 2; i++) {\n    p = \"P\" + i;\n    Parent = p + \"_\" + obj.Parent;\n    Name = p + \"_\" + obj.Name; \n    if (nsParent==\"0\") {\n        msg1.topic = \"ns=\" + nsParent + \";\" + obj.Parent} \n    else { \n        msg1.topic = \"ns=\" + nsParent + \";s=\" + Parent} \n    node.send (msg1);\n\n    //add folder\n    if (obj.Type !== \"Folder\") {\n            msg1.topic = \"ns=1;s=\" + Name + \";datatype=\" + obj.Type;\n            node.send (msg1);\n    }\n}\n","outputs":1,"noerr":0,"x":570,"y":260,"wires":[[]]},{"id":"f55bd70d.491418","type":"delay","z":"27ad25c8.f6c96a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[["cd489d4.05f1de"]]},{"id":"ba3f33e.228875","type":"function","z":"27ad25c8.f6c96a","name":"PK","func":"function toOPC (var1)\n{\n    let msg = {\"topic\" : var1.ns, \n    \"payload\" :var1.val, \n    \"action\" : \"write\"};\n    node.send (msg);\n}\n\n//let eq_name = msg.topic; //name equipment e.g. P1_A1.T101\neq_name = \"P1_A1.PK105\";\nlet eq = flow.get (eq_name) || {};//equipment\n\n//у контексті вузла зберігаються усі налаштування  \nlet n = context.get (eq_name) || {\"T_PREV\": new Date(), \"T_STEP\" : 0.0, \"STEP\" : 0}\nlet now = new Date();\nlet dt = (now - n.T_PREV)/1000 ;//періодичність виклику\nn.T_STEP += dt; //час кроку\n\n//визначення продуктивності\neq.PlanD.val = eq.PlanD.val || \"\";\nlet hms = eq.PlanD.val.split(\":\");\nlet period = parseInt(hms[0])*60*60 + parseInt(hms[1])*60 + parseInt(hms[2]);\nlet quant = eq.PlanQ.val || 0.0;\nlet prod = 0;\nif (period > 0) prod=quant/period; \n\n//визначення приросту\nlet dq_plan=prod*dt;//плановий приріст \nlet dq_var=dq_plan*0.1*Math.random();//варіація до 10%\nlet dq = dq_plan - dq_var;\nlet dq_lost=0;\nlet r = Math.random();\nif (r>0.7){\n    dq_lost=1; \n}//втрати\ndq = dq - dq_lost;\nif (dq<1) dq=1; \n//node.warn (\"dq=\" + dq + \" dq_plan=\" + dq_plan + \" dq_var=\" + dq_var);\n\n//------------імітація -----------\nif (eq.smOn.val===true) {\n    switch (eq.STA.val) {\n            case 0://init\n        //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n            eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n        }\n        break;\n    case 13://starting\n  \n        break;        \n    case 2://running\n        eq.FIQ1.val += parseInt(dq);\n        eq.FIQ2.val += parseInt(dq_lost);\n        if (eq.CMD.val==2){\n            eq.FIQ1.val = 0; eq.FIQ2.val = 0;\n        }\n        break;\n   //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n    }\n}\n//------------\n\n//-------------------------керування\nswitch (eq.STA.val) {\n    case 0://init\n        //eq.FIQ1.val = 0;eq.FIQ2.val = 0;\n        eq.STA.val=1;\n        break;\n    case 1://idle\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }\n        break;\n    case 2://running\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==3){\n           eq.STA.val=4;\n           n.T_STEP=0;\n        }        \n        break;\n    case 4://paused\n        if (eq.CMD.val==2){\n           eq.STA.val=1;\n           n.T_STEP=0;\n        }\n        if (eq.CMD.val==1){\n           eq.STA.val=2;\n           n.T_STEP=0;\n        }  \n        break;\n    default:\n        eq.STA.val=0;\n} \neq.CMD.val=0;\n//---------------------------------\n\nif (eq.FIQ1.val<0) eq.FIQ1.val=0;\nif (eq.FIQ2.val<0) eq.FIQ2.val=0;\n\nn.T_PREV = now;\ncontext.set (eq_name,n); \ntoOPC (eq.FIQ1);\ntoOPC (eq.FIQ2);\ntoOPC (eq.STA);\ntoOPC (eq.CMD);\n\n\n\n/*\n0 – ініціалізація (тільки при старті ПЛК)\n1 – Idle (простоювання)\n13 – Starting (запускається)\n2 - Running (виконується) \n14- Completing (завершується)\n3 – Pausing (призупиняється)\n4 – Paused (призупинено)\n5 – Holding (утримується)\n6 – Hold (утримуване)\n7 – Restarting (перезапускається)\n8 – Complete (завершено)\n9 – Stopping (зупиняється)\n10 – Stopped (зупинено)\n11 – Aborting (переривається)\n12 – Aborted (перервано)\n15 – Resuming (відновлюється)\n*/","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["99f6c954.90a8b"]]},{"id":"99f6c954.90a8b","type":"OpcUa-Client","z":"27ad25c8.f6c96a","endpoint":"f1d9b1ec.858b7","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"2","timeUnit":"s","certificate":"n","localfile":"","name":"","x":620,"y":360,"wires":[["478e4fab.f25bf"]]},{"id":"c99302b6.59ee28","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["ba3f33e.228875"]]},{"id":"1716d81e.42e03","type":"inject","z":"27ad25c8.f6c96a","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["344a9e44.d644ba"]]},{"id":"344a9e44.d644ba","type":"function","z":"27ad25c8.f6c96a","name":"init","func":"let cfg = {};\ncfg.variants = 50;\n\nflow.set (\"cfg\",cfg);","outputs":1,"noerr":0,"x":270,"y":60,"wires":[[]]},{"id":"c3b09331.24651","type":"function","z":"27ad25c8.f6c96a","name":"T101","func":"let eq_name = msg.topic; //name equipment\neq_name = P1_A1.T101;\nlet eq = flow.get (eq_name);//equipment\nlet PHS = eq.PHS;\n\n//------------імітація -----------\nif (eq.smOn.val===true) {\n    if (PHS.COOLING.CTRL.STA_RUNNING===true)\n    {\n        eq.TT1.val = eq.TT1.val - 0.5;  \n    }\n    if (PHS.LOADING.CTRL.STA_RUNNING===true)\n    {\n        eq.TT1.val = 25.0;\n        eq.LT1.val = eq.LT1.val + 2.5;\n    }\n    if (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n    {\n        eq.LT1.val = eq.LT1.val - 2.5;\n    }    \n    if (PHS.UNLOADING.CTRL.STA_STOPPED===true || PHS.UNLOADING.CTRL.STA_COMPLETE===true)\n    {\n        eq.TT1.val = 25.0;\n    }\n    if (eq.TT1.val <2.0) eq.TT1.val=2.0; \n    if (eq.TT1.val >90.0) eq.TT1.val=90.0;\n    if (eq.LT1.val <0.0) eq.LT1.val=0.0;\n    if (eq.LT1.val >100.0) eq.LT1.val=100.0;\n    toOPC (eq.TT1);\n    toOPC (eq.LT1);\n    flow.set (eq_name + \".TT1\", eq.TT1);\n    flow.set (eq_name + \".LT1\", eq.LT1);\n}\n//------------\n\n//---- керування\nif (PHS.LOADING.CTRL.STA_RUNNING===true)\n{\n    if (eq.LT1.val >= PHS.LOADING.LT1_SP.val) PHS.LOADING.CTRL.RUNING_CMPLT = true;\n}\nif (PHS.UNLOADING.CTRL.STA_RUNNING===true)\n{\n    if (eq.LT1.val <=1) PHS.UNLOADING.CTRL.RUNING_CMPLT = true;\n}\nif (PHS.COOLING.CTRL.STA_RUNNING===true)\n{\n    if (eq.TT1.val <= PHS.COOLING.TT1_SP.val) PHS.COOLING.CTRL.RUNING_CMPLT = true;\n}\n//------\nflow.set (eq_name + \".PHS.LOADING.CFG\", PHS.LOADING.CFG);\nflow.set (eq_name + \".PHS.LOADING.CTRL\", PHS.LOADING.CTRL);\nflow.set (eq_name + \".PHS.UNLOADING.CFG\", PHS.UNLOADING.CFG);\nflow.set (eq_name + \".PHS.UNLOADING.CTRL\", PHS.UNLOADING.CTRL);\nflow.set (eq_name + \".PHS.COOLING.CFG\", PHS.COOLING.CFG);\nflow.set (eq_name + \".PHS.COOLING.CTRL\", PHS.COOLING.CTRL);\n\nfunction toOPC (var1)\n{\n    var msg = {\"topic\" : var1.ns, \"payload\" :var1.val, \"action\" : \"write\"};\n    node.send (msg);\n}\n\n\n","outputs":1,"noerr":0,"x":370,"y":400,"wires":[[]]},{"id":"19329001.513bc8","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"P1_A1.T101","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"20","x":210,"y":540,"wires":[[]]},{"id":"5bf9e444.1a3e14","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["607f7c65.b6dbac"]]},{"id":"607f7c65.b6dbac","type":"function","z":"27ad25c8.f6c96a","name":"","func":"\nmsg = {\n    \"topic\" : \"ns=1;s=P10_A1.PAST1;datatype=Object\", \n    \"payload\" :\"ALM:48\", \n    \"action\" : \"write\"};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["99f6c954.90a8b"]]},{"id":"94ce88de.592698","type":"OpcUa-Client","z":"27ad25c8.f6c96a","endpoint":"f1d9b1ec.858b7","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"2","timeUnit":"s","certificate":"n","localfile":"","name":"","x":380,"y":600,"wires":[["4973219c.323f08"]]},{"id":"4973219c.323f08","type":"debug","z":"27ad25c8.f6c96a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":600,"wires":[]},{"id":"9e1095c8.84396","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"ns=1;s=P10_A1.PAST1.ALM;datatype=UInt32","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["94ce88de.592698"]]},{"id":"5832d01f.ad8e98","type":"inject","z":"27ad25c8.f6c96a","name":"","topic":"ns=1;s=P10_A1.PAST1;datatype=UInt32","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["94ce88de.592698"]]},{"id":"66a6626b.a8c5e4","type":"OpcUa-Client","z":"c0f5f553.d766c8","endpoint":"f1d9b1ec.858b7","action":"readmultiple","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":571,"y":97.80000305175781,"wires":[["1bd00a5c.01d846"]]},{"id":"5e63f116.a7d608","type":"OpcUa-Item","z":"c0f5f553.d766c8","item":"ns=1;s=P10_A1.PAST1.ALM","datatype":"UInt32","value":"","name":"","x":316,"y":50.19999694824219,"wires":[["66a6626b.a8c5e4"]]},{"id":"2697ab6.c3211d4","type":"inject","z":"c0f5f553.d766c8","name":"Add item","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":49,"wires":[["5e63f116.a7d608"]]},{"id":"1bd00a5c.01d846","type":"debug","z":"c0f5f553.d766c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":783.9999847412109,"y":100.39999389648438,"wires":[]},{"id":"917ef698.54a288","type":"OpcUa-Item","z":"c0f5f553.d766c8","item":"ns=1;s=P9_A1.PAST1.ALM","datatype":"UInt32","value":"","name":"","x":320.20001220703125,"y":116.19999694824219,"wires":[["66a6626b.a8c5e4"]]},{"id":"2947dd66.d1deb2","type":"inject","z":"c0f5f553.d766c8","name":"Add item","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.20001220703125,"y":115,"wires":[["917ef698.54a288"]]},{"id":"be008bc.74169f8","type":"inject","z":"c0f5f553.d766c8","name":"Read multiple items","topic":"readmultiple","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":336.99998474121094,"y":183,"wires":[["66a6626b.a8c5e4"]]},{"id":"3839e72a.bf1c2","type":"inject","z":"c0f5f553.d766c8","name":"Clear nodeId array","topic":"clearitems","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":339.20001220703125,"y":229.1999969482422,"wires":[["66a6626b.a8c5e4"]]},{"id":"2d99c721.353e58","type":"OpcUa-Client","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","name":"ProSys SimServer","x":644.5,"y":93.39999389648438,"wires":[["d423df93.8e7ff"]]},{"id":"94146a10.13d69","type":"OpcUa-Item","z":"34c80e02.eafe9a","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":436.5,"y":95.80000305175781,"wires":[["2d99c721.353e58"]]},{"id":"d423df93.8e7ff","type":"debug","z":"34c80e02.eafe9a","name":"","active":true,"console":"false","complete":"false","x":874.4999847412109,"y":92.19999694824219,"wires":[]},{"id":"27ed0cc9.c5aac4","type":"inject","z":"34c80e02.eafe9a","name":"Test Double","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":238.49998474121094,"y":96,"wires":[["94146a10.13d69"]]},{"id":"1c629ea5.608969","type":"OpcUa-Item","z":"34c80e02.eafe9a","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"Static Double","x":435.20001220703125,"y":150.1999969482422,"wires":[["ed30ebad.1a6758"]]},{"id":"3751c607.603aba","type":"inject","z":"34c80e02.eafe9a","name":"Test Counter","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":237.1999969482422,"y":150.39999389648438,"wires":[["1c629ea5.608969"]]},{"id":"39527204.d93b9e","type":"comment","z":"34c80e02.eafe9a","name":"READ","info":"","x":55,"y":97.80000305175781,"wires":[]},{"id":"ed30ebad.1a6758","type":"OpcUa-Client","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","action":"subscribe","time":"1","timeUnit":"s","name":"ProSys SimServer","x":644.2000122070312,"y":150.1999969482422,"wires":[["d423df93.8e7ff"]]},{"id":"b21563b3.a4adf","type":"comment","z":"34c80e02.eafe9a","name":"SUBS","info":"","x":60,"y":149.1999969482422,"wires":[]},{"id":"9a156eca.33bdd","type":"inject","z":"34c80e02.eafe9a","name":"Test Counter","topic":"ns=5;s=Counter1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.1999969482422,"y":218.39999389648438,"wires":[["af1f3.1aad8e0e"]]},{"id":"af1f3.1aad8e0e","type":"OpcUa-Client","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","action":"unsubscribe","time":"1","timeUnit":"s","name":"ProSys SimServer","x":645.2000122070312,"y":218.1999969482422,"wires":[["d423df93.8e7ff"]]},{"id":"2a6c9f.382b3362","type":"comment","z":"34c80e02.eafe9a","name":"UNSUBS","info":"Here is some kind of bug.","x":72,"y":216.1999969482422,"wires":[]},{"id":"6ac611a.19c19f","type":"comment","z":"34c80e02.eafe9a","name":"NOT OK","info":"SubscriptionId seems to be 2 instances","x":853.4999847412109,"y":219.8000030517578,"wires":[]},{"id":"b86b31fb.b7efe","type":"OpcUa-Browser","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","item":"","datatype":"","topic":"ns=3;s=DataItems","items":[],"x":642.5,"y":317,"wires":[["894bded2.86901"]]},{"id":"451e4dde.f1b0b4","type":"inject","z":"34c80e02.eafe9a","name":"Test Browse","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":220.1999969482422,"y":319.20001220703125,"wires":[["b86b31fb.b7efe"]]},{"id":"894bded2.86901","type":"debug","z":"34c80e02.eafe9a","name":"","active":true,"console":"false","complete":"false","x":867.2000122070312,"y":318.20001220703125,"wires":[]},{"id":"35620aa5.636c66","type":"OpcUa-Event","z":"34c80e02.eafe9a","root":"i=2253","eventtype":"i=2041","name":"Events","x":548.4999847412109,"y":397.1999969482422,"wires":[[]]},{"id":"3811cc2c.7ecc34","type":"inject","z":"34c80e02.eafe9a","name":"Test Events","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":373.20001220703125,"y":396.20001220703125,"wires":[["35620aa5.636c66"]]},{"id":"aecdb683.fc64e","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.2000122070312,"y":127.19999694824219,"wires":[["14dab828.ba34b"]]},{"id":"38d940b.a2bfe4","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=Int16DataItem","datatype":"Int16","value":"","name":"Int16","x":317.20001220703125,"y":129.60000610351562,"wires":[["aecdb683.fc64e"]]},{"id":"14dab828.ba34b","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":775.1999969482422,"y":126,"wires":[]},{"id":"1374ef3b.1c03c9","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":129.8000030517578,"wires":[["38d940b.a2bfe4"]]},{"id":"122e0f20.8b6691","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.2000122070312,"y":176.1999969482422,"wires":[["fdba99d3.f2dd68"]]},{"id":"9f87e55a.f3e29","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=Int32DataItem","datatype":"Int32","value":"","name":"Int32","x":317.20001220703125,"y":178.60000610351562,"wires":[["122e0f20.8b6691"]]},{"id":"fdba99d3.f2dd68","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":775.1999969482422,"y":175,"wires":[]},{"id":"a768f207.c02788","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":178.8000030517578,"wires":[["9f87e55a.f3e29"]]},{"id":"5f2815c5.46c69c","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000122070312,"y":270.20001220703125,"wires":[["32358e19.9298e2"]]},{"id":"b4535b9b.1863d","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=UInt16DataItem","datatype":"UInt16","value":"","name":"UInt16","x":315.20001220703125,"y":272.6000213623047,"wires":[["5f2815c5.46c69c"]]},{"id":"32358e19.9298e2","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":773.1999969482422,"y":269.00001525878906,"wires":[]},{"id":"5a95d4e4.e7dbd4","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":272.8000183105469,"wires":[["b4535b9b.1863d"]]},{"id":"35e8bdff.7fccba","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000122070312,"y":315.20001220703125,"wires":[["160c1cb1.d4b3c3"]]},{"id":"4c89e9f4.67089","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=UInt32DataItem","datatype":"UInt32","value":"","name":"UInt32","x":315.20001220703125,"y":317.6000213623047,"wires":[["35e8bdff.7fccba"]]},{"id":"160c1cb1.d4b3c3","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":773.1999969482422,"y":314.00001525878906,"wires":[]},{"id":"c4ff1828.150d88","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":317.8000183105469,"wires":[["4c89e9f4.67089"]]},{"id":"5876793.6b21f88","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000274658203,"y":225.19998168945312,"wires":[["75bec5e6.ad78c4"]]},{"id":"53752e33.fc22d","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=ByteDataItem","datatype":"Byte","value":"","name":"Byte","x":315.2000274658203,"y":227.59999084472656,"wires":[["5876793.6b21f88"]]},{"id":"75bec5e6.ad78c4","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":773.2000122070312,"y":223.99998474121094,"wires":[]},{"id":"f99acaa1.9cc428","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.20001220703125,"y":227.79998779296875,"wires":[["53752e33.fc22d"]]},{"id":"77a3db26.4bc6ac","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":547.0000152587891,"y":411.20001220703125,"wires":[["b8b8239f.781208"]]},{"id":"167f1e6a.f2bc8a","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=FloatDataItem","datatype":"Float","value":"","name":"Float","x":319.00001525878906,"y":413.6000213623047,"wires":[["77a3db26.4bc6ac"]]},{"id":"b8b8239f.781208","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":777,"y":410.00001525878906,"wires":[]},{"id":"d7e35813.fe5e58","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":413.8000183105469,"wires":[["167f1e6a.f2bc8a"]]},{"id":"8f28e90e.e5b858","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.0000152587891,"y":454.20001220703125,"wires":[["9b8c5497.74d94"]]},{"id":"b2f51db2.d47018","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Double","x":327.00001525878906,"y":456.6000213623047,"wires":[["8f28e90e.e5b858"]]},{"id":"9b8c5497.74d94","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":775,"y":453.00001525878906,"wires":[]},{"id":"619e3cf1.c4ed64","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":456.8000183105469,"wires":[["b2f51db2.d47018"]]},{"id":"20027ab.ace0906","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":541.2000122070312,"y":501.20001220703125,"wires":[["1c9633a.1b5d84c"]]},{"id":"2b972173.9a2f16","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=BooleanDataItem","datatype":"Boolean","value":"","name":"Boolean","x":323.20001220703125,"y":503.6000213623047,"wires":[["20027ab.ace0906"]]},{"id":"1c9633a.1b5d84c","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":771.1999969482422,"y":500.00001525878906,"wires":[]},{"id":"1a22bfd8.6d441","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.19999694824219,"y":503.8000183105469,"wires":[["2b972173.9a2f16"]]},{"id":"7a5e4c52.a11b3c","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":539.2000122070312,"y":548.2000122070312,"wires":[["30cfda72.556c46"]]},{"id":"43d120e8.ef27e","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=StringDataItem","datatype":"String","value":"","name":"String","x":311.20001220703125,"y":550.6000213623047,"wires":[["7a5e4c52.a11b3c"]]},{"id":"30cfda72.556c46","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":769.1999969482422,"y":547.0000152587891,"wires":[]},{"id":"a39556e6.267288","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":550.8000183105469,"wires":[["43d120e8.ef27e"]]},{"id":"8cd5274.e3e8c58","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":544.0000152587891,"y":74.19999694824219,"wires":[["ac48d224.76b008"]]},{"id":"ef2e0b51.73c9a8","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":316.00001525878906,"y":76.60000610351562,"wires":[["8cd5274.e3e8c58"]]},{"id":"ac48d224.76b008","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":774,"y":73,"wires":[]},{"id":"7286a51e.180c0c","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":76.80000305175781,"wires":[["ef2e0b51.73c9a8"]]},{"id":"96b97bdf.d88ec","type":"comment","z":"32eaf134.5a85f6","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":32.80000305175781,"wires":[]},{"id":"a8f13692.49e48","type":"OpcUa-Client","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","action":"write","time":10,"timeUnit":"s","name":"ProSys SimServer","x":653.2000122070312,"y":460.20001220703125,"wires":[["136d1702.71ed21"]]},{"id":"74ad9558.b4f364","type":"OpcUa-Item","z":"34c80e02.eafe9a","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":445.20001220703125,"y":462.6000213623047,"wires":[["a8f13692.49e48"]]},{"id":"136d1702.71ed21","type":"debug","z":"34c80e02.eafe9a","name":"","active":true,"console":"false","complete":"false","x":883.1999969482422,"y":459.00001525878906,"wires":[]},{"id":"c9dd536.0a3bd3","type":"inject","z":"34c80e02.eafe9a","name":"Test Double","topic":"","payload":"11.1","payloadType":"num","repeat":"","crontab":"","once":false,"x":247.1999969482422,"y":462.8000183105469,"wires":[["74ad9558.b4f364"]]},{"id":"7b88b2d2.396c54","type":"comment","z":"34c80e02.eafe9a","name":"WRITE","info":"","x":63.70001220703125,"y":464.6000213623047,"wires":[]},{"id":"e02563a0.5b2db8","type":"OpcUa-Client","z":"34c80e02.eafe9a","endpoint":"d0401bfc.bdc0b8","action":"info","time":10,"timeUnit":"s","name":"ProSys SimServer","x":648.2000122070312,"y":511,"wires":[["d6e3108.ce515f"]]},{"id":"3ac428fa.6fdd08","type":"OpcUa-Item","z":"34c80e02.eafe9a","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":440.20001220703125,"y":513.4000091552734,"wires":[["e02563a0.5b2db8"]]},{"id":"d6e3108.ce515f","type":"debug","z":"34c80e02.eafe9a","name":"","active":true,"console":"false","complete":"false","x":878.1999969482422,"y":509.8000030517578,"wires":[]},{"id":"4b777743.dcec28","type":"inject","z":"34c80e02.eafe9a","name":"Test Double","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":242.1999969482422,"y":513.6000061035156,"wires":[["3ac428fa.6fdd08"]]},{"id":"b23cb060.c3e27","type":"comment","z":"34c80e02.eafe9a","name":"INFO","info":"","x":58.70001220703125,"y":515.4000091552734,"wires":[]},{"id":"48615e3f.7e8dc","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=Int16DataItem","datatype":"Int16","value":"","name":"Int16","x":317.20001220703125,"y":132,"wires":[["9af14db2.f1597"]]},{"id":"c61a3170.b22858","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"-16","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":132.1999969482422,"wires":[["48615e3f.7e8dc"]]},{"id":"5efaec1b.d86c2c","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=Int32DataItem","datatype":"Int32","value":"","name":"Int32","x":317.20001220703125,"y":181,"wires":[["9af14db2.f1597"]]},{"id":"d0da225a.c0ed3","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"-32","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":181.1999969482422,"wires":[["5efaec1b.d86c2c"]]},{"id":"7276be7.6e770c","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=UInt16DataItem","datatype":"UInt16","value":"","name":"UInt16","x":315.20001220703125,"y":275.00001525878906,"wires":[["9af14db2.f1597"]]},{"id":"6b39e9d9.1d8758","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"16","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":275.20001220703125,"wires":[["7276be7.6e770c"]]},{"id":"58e5f4ca.9c5c34","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=UInt32DataItem","datatype":"UInt32","value":"","name":"UInt32","x":315.20001220703125,"y":320.00001525878906,"wires":[["9af14db2.f1597"]]},{"id":"c1bae33a.4e0158","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"32","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":320.20001220703125,"wires":[["58e5f4ca.9c5c34"]]},{"id":"2c10aa6.748a4d6","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=ByteDataItem","datatype":"Byte","value":"","name":"Byte","x":315.2000274658203,"y":229.99998474121094,"wires":[["9af14db2.f1597"]]},{"id":"9f544991.b0d388","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.20001220703125,"y":230.19998168945312,"wires":[["2c10aa6.748a4d6"]]},{"id":"4bbd2083.5e1b1","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=FloatDataItem","datatype":"Float","value":"","name":"Float","x":319.00001525878906,"y":416.00001525878906,"wires":[["9af14db2.f1597"]]},{"id":"62864307.391fe4","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"1.1","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":416.20001220703125,"wires":[["4bbd2083.5e1b1"]]},{"id":"da44152c.cb1fb8","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Double","x":327.00001525878906,"y":459.00001525878906,"wires":[["9af14db2.f1597"]]},{"id":"e972ff8c.ba181","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"2.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":459.20001220703125,"wires":[["da44152c.cb1fb8"]]},{"id":"11db432d.152805","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=BooleanDataItem","datatype":"Boolean","value":"","name":"Boolean","x":323.20001220703125,"y":506.00001525878906,"wires":[["9af14db2.f1597"]]},{"id":"eb8875a1.641a8","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.19999694824219,"y":506.20001220703125,"wires":[["11db432d.152805"]]},{"id":"5c022ed8.89bb8","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=StringDataItem","datatype":"String","value":"","name":"String","x":311.20001220703125,"y":553.0000152587891,"wires":[["9af14db2.f1597"]]},{"id":"2196bcd3.c41e6c","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":553.2000122070312,"wires":[["5c022ed8.89bb8"]]},{"id":"9af14db2.f1597","type":"OpcUa-Client","z":"fb85f6c0.c3d348","endpoint":"9c9cd15e.12c5b","action":"write","time":10,"timeUnit":"s","name":"ProSys SimServer","x":609,"y":335.60003662109375,"wires":[["af88c3e5.286bd"]]},{"id":"5fbd6183.d6c398","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":316.00001525878906,"y":79,"wires":[["9af14db2.f1597"]]},{"id":"af88c3e5.286bd","type":"debug","z":"fb85f6c0.c3d348","name":"","active":true,"console":"false","complete":"false","x":839,"y":331.40000915527344,"wires":[]},{"id":"906f46ed.ddb3c8","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"-8","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":79.19999694824219,"wires":[["5fbd6183.d6c398"]]},{"id":"11487cbb.f2106b","type":"comment","z":"fb85f6c0.c3d348","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":35.19999694824219,"wires":[]},{"id":"2c0cc35e.d1b514","type":"OpcUa-Client","z":"22b4ad69.034ee2","endpoint":"1a6bc900.96934f","action":"read","time":10,"timeUnit":"s","name":"","x":559.5,"y":145.59999084472656,"wires":[["e4b63cf9.aa0f88"]]},{"id":"e4b63cf9.aa0f88","type":"debug","z":"22b4ad69.034ee2","name":"","active":true,"console":"false","complete":"false","x":815.5,"y":147.39999389648438,"wires":[]},{"id":"68b9a334.a7f35c","type":"inject","z":"22b4ad69.034ee2","name":"ProSys","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.5,"y":94,"wires":[["f9c023e8.3b25a"]]},{"id":"fd76a653.799b7","type":"inject","z":"22b4ad69.034ee2","name":"Test Server2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.1999969482422,"y":223.1999969482422,"wires":[["d38490a2.cb38b"]]},{"id":"f9c023e8.3b25a","type":"function","z":"22b4ad69.034ee2","name":"ProSys params","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://TREL16087112:53530/OPCUA/SimulationServer',\n    securityPolicy: 'None',\n    securityMode: 'None',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":283.49998474121094,"y":95.19999694824219,"wires":[["2c0cc35e.d1b514"]]},{"id":"d38490a2.cb38b","type":"function","z":"22b4ad69.034ee2","name":"Server2 params","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://127.0.0.1:53880',\n    securityPolicy: 'None',\n    securityMode: 'None',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":314.20001220703125,"y":221.1999969482422,"wires":[["2c0cc35e.d1b514"]]},{"id":"ae84bec2.c31928","type":"OpcUa-Item","z":"22b4ad69.034ee2","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":306.0000305175781,"y":143.1999969482422,"wires":[["2c0cc35e.d1b514"]]},{"id":"1f2f8125.1c0807","type":"inject","z":"22b4ad69.034ee2","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":108.00001525878906,"y":143.39999389648438,"wires":[["ae84bec2.c31928"]]},{"id":"c41291b0.3a99f","type":"OpcUa-Item","z":"22b4ad69.034ee2","item":"ns=1;s=FreeMemory","datatype":"Double","value":"","name":"Float","x":348.20001220703125,"y":282.20001220703125,"wires":[["2c0cc35e.d1b514"]]},{"id":"fbe5b214.81656","type":"inject","z":"22b4ad69.034ee2","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.1999969482422,"y":282.40000915527344,"wires":[["c41291b0.3a99f"]]},{"id":"5fbd6d5a.849f44","type":"OpcUa-Server","z":"897334be.e6fcd","port":"53880","name":"LocalServer","endpoint":"","x":424.20001220703125,"y":127.19999694824219,"wires":[[]]},{"id":"59998539.c62514","type":"OpcUa-Client","z":"32eaf134.5a85f6","endpoint":"66f045d4.a034ac","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":544.0000152587891,"y":602.2000122070312,"wires":[["514a84c3.779adc"]]},{"id":"8bf7573.ec42aa8","type":"OpcUa-Item","z":"32eaf134.5a85f6","item":"ns=3;s=DateTimeDataItem","datatype":"DateTime","value":"","name":"DateTime","x":326.00001525878906,"y":604.6000213623047,"wires":[["59998539.c62514"]]},{"id":"514a84c3.779adc","type":"debug","z":"32eaf134.5a85f6","name":"","active":true,"console":"false","complete":"false","x":774,"y":601.0000152587891,"wires":[]},{"id":"6ea2a607.0f1b","type":"inject","z":"32eaf134.5a85f6","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":604.8000183105469,"wires":[["8bf7573.ec42aa8"]]},{"id":"bf45f525.1d7c6","type":"OpcUa-Item","z":"fb85f6c0.c3d348","item":"ns=3;s=DateTimeDataItem","datatype":"DateTime","value":"","name":"DateTime","x":319.20001220703125,"y":595.2000122070312,"wires":[["9af14db2.f1597"]]},{"id":"4aee7073.480b8","type":"inject","z":"fb85f6c0.c3d348","name":"Test","topic":"","payload":"2018-10-11T12:11:10.000Z","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":111.19999694824219,"y":595.4000091552734,"wires":[["bf45f525.1d7c6"]]},{"id":"478e4fab.f25bf","type":"debug","z":"27ad25c8.f6c96a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":420,"wires":[]}]